Hi {{ user }},

Thank you for signing up to an account at saigatours.com
To finish your registration, please click the link below:
<table style="height: 100%; border-spacing: 0;">
    <tr style="height: 10px; background-color: rgb(224, 214, 157)">
        <td colspan=300></td>
    </tr>
    <tr style="height: 100px;">
        <td style="width: 10%; background-color: rgb(224, 214, 157);" rowspan=300></td>
        <td style="text-align: center; padding: 20px;"><img src="http://www.saigatours.com/media/logo.svg" width=200/></td>
        <td style="width: 10%;background-color: rgb(224, 214, 157)" rowspan=300></td>
    </tr>
    <tr>
        <td style="background-color: none; height: 100%; padding: 40px;">
            <p></p>
            <p>
              Hi {{ user}},
            </p>
            <p>
                Thank you for signing up to an account at saigatours.com To finish your registration, please click the link below:
            </p>
            <p>
              <a href="https://www.saigatours.com{% url 'activate' uuid token %}" target="_blank">
                Activate here
              </a>
            </p>
        </td>
    </tr>
    <tr style="background-color: rgb(224, 214, 157); color: black; height: 10px;">
        <td>
        </td>
    </tr>
</table>
