{% extends 'registration/base.html' %}
{% load static %}

{% block head %}
    <script defer src="{% static 'customers/js/zxcvbn.js' %}"></script>
    <script defer src="{% static 'customers/js/change_password.js' %}"></script>
{% endblock %}

{% block title %}Change Password{% endblock %}

{% block form %}
    {% if form.errors %}
        <p>There were some issues with your input. Please try again.</p>
        {{ form.non_field_errors }}
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'password_change' %}">
        {% csrf_token %}
        <input type="hidden" id="email" value="{{ request.user.email }}">

        <div class="form-group">
            <div class="field">
                <label for="{{ form.old_password.id_for_label }}" hidden>Old Password: </label>
                <input type="password" id="{{ form.old_password.id_for_label }}" name="{{ form.old_password.name }}" placeholder="Old Password" required autocomplete="password">
                <div class="password-visibility"></div>
                {{ form.old_password.errors }}
            </div>
            <div class="field empty_input">
                <label for="{{ form.new_password1.id_for_label }}" hidden>Password: </label>
                <input type="password" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.name }}" placeholder="New Password" required autocomplete="new-password">
                <div class="password-visibility tall"></div>
                <div class="strength-indicator"></div>
                {{ form.new_password1.errors }}
                <ul class="password-suggestions"></ul>
                <div class="suggestion-arrow"></div>
            </div>
            <div class="field">
                <label for="{{ form.new_password2.id_for_label }}" hidden>Password: </label>
                <input type="password" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.name }}" placeholder="Confirm New Password" required autocomplete="new-password">
                <div class="password-visibility"></div>
                {{ form.new_password_2.errors }}
            </div>
        </div>

        <div class="btn-group">
            <button id="submit" class="primary btn" type="submit" value="change-password" disabled>Change Password</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}
