{% extends 'registration/base.html' %}
{% load static %}

{% block head %}
    <script defer src="{% static 'customers/js/zxcvbn.js' %}"></script>
    <script defer src="{% static 'customers/js/register.js' %}"></script>
{% endblock %}

{% block title %}Register{% endblock %}

{% block form %}
    {% if form.errors %}
        <p>There were some issues with your input. Please try again.</p>
        {{ form.non_field_errors }}
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}

        <div class="form-group">
            <div class="inline-row">
                <div class="field">
                    <label for="{{ form.first_name.id_for_label }}" hidden>First Name: </label>
                    <input type="text" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.name }}" placeholder="First Name" required autofocus autocomplete="given-name">
                    {{ form.first_name.errors }}
                </div>
                <div class="field">
                    <label for="{{ form.last_name.id_for_label }}" hidden>Last Name: </label>
                    <input type="text" id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.name }}" placeholder="Last Name" required autocomplete="family-name">
                    {{ form.last_name.errors }}
                </div>
            </div>
            <div class="field">
                <label for="{{ form.email.id_for_label }}" hidden>Email: </label>
                <input type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" placeholder="Email" required autocomplete="email">
                {{ form.email.errors }}
            </div>
            <div class="field empty_input">
                <label for="{{ form.password1.id_for_label }}" hidden>Password: </label>
                <input type="password" id="{{ form.password1.id_for_label }}" name="{{ form.password1.name }}" placeholder="Password" required autocomplete="new-password">
                <div class="password-visibility tall"></div>
                <div class="strength-indicator"></div>
                {{ form.password1.errors }}
                <ul class="password-suggestions"></ul>
                <div class="suggestion-arrow"></div>
            </div>
            <div class="field">
                <label for="{{ form.password2.id_for_label }}" hidden>Password: </label>
                <input type="password" id="{{ form.password2.id_for_label }}" name="{{ form.password2.name }}" placeholder="Confirm Password" required autocomplete="new-password">
                <div class="password-visibility"></div>
                {{ form.password2.errors }}
            </div>
        </div>

        <div class="btn-group">
            <a class="secondary btn" type="button" href="{% url 'login' %}">Login</a>
            <button id="register" class="primary btn" type="submit" value="register" disabled>Register</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}
