{% extends 'main/main.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
{% endblock %}

{% block content %}
    <h1 class="display-1">{{ page.title }}
        {% if page.parent.parent is not None %}
            <a href="{% url 'page' page.parent.full_path %}"><small
                    class="text-muted">{{ page.parent.title }}</small></a>
        {% endif %}
    </h1>
    {{ page.content | safe }}

    {% if user.is_staff %}
        {% include 'main/page_list.html' with pages=page.children.all %}

        {% include 'main/page_list.html' with pages=page.siblings %}
    {% else %}
        {% include 'main/page_list.html' with pages=page.children.all_published %}

        {% include 'main/page_list.html' with pages=page.published_siblings %}
    {% endif %}
{% endblock %}