<div class="row">
    {% for tour in tours %}
        <div class="col-md-4 d-flex flex-column tour-col">
            <div start_date="{{ tour.start_date|date:'Y-m-d' }}"
                 end_date="{{ tour.end_date|date:'Y-m-d' }}"
                 price="{{ tour.price }}"
                 duration="{{ tour.duration }}"
                 destinations="


                         {% for destination in tour.destinations.all %}{% if forloop.counter > 1 %} {% endif %}{{ destination.slug }}{% endfor %}"
                 hidden class="tour-data">
            </div>
            <div class="card img-title-card img-card mt-4">
                <img src="{{ tour.card_img.url }}" class="card-img" alt="{{ tour.name }}">
                <div class="card-img-overlay">
                    <h5 class="card-title">{{ tour.name }}</h5>
                </div>
                <a class="stretched-link" href="{% url 'tour' tour.slug %}"></a>
            </div>
            <div class="card text-card tour-text flex-grow-1">
                <div class="card-body">
                    {{ tour.excerpt }}
                </div>
                <div class="card-footer">
                    <table class="table table-borderless">
                        <tr>
                            <th class="table-icon"><i class="bi bi-calendar4-range"></i></th>
                            <td class="table-value">{{ tour.start_date }} - {{ tour.end_date }}</td>
                        </tr>
                        <tr>
                            <th class="table-icon"><i class="bi bi-clock-history"></i></th>
                            <td class="table-value">{{ tour.duration }} days</td>
                        </tr>
                        <tr>
                            <th class="table-icon"><i class="bi bi-coin"></ic></th>
                            <td class="table-value">US${{ tour.price }}</td>
                        </tr>
                    </table>
                    <a class="stretched-link" href="{% url 'tour' tour.slug %}"></a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>