{% extends 'registration/base.html' %}
{% load static %}
{% load customer_tags %}

{% block head %}
  <link rel="stylesheet" href="{% static 'customers/css/form.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom_ckeditor.css' %}">
  <script defer src="{% static 'js/ckeditor_styling.js' %}"></script>
{% endblock %}

{% block title %}{{ form_data.title }}{% endblock %}

{% block imagecontent %}
  {% if task.due or form_data.instructions or form_data.finalised or pdf_link %}
    <div class="form-metadata">
      {% if task.due %}
        <p class="due">Due: {{ task.due | date }}</p>
      {% endif %}
      {{ form_data.instructions | safe }}
      {% if form_data.finalised and request.user.is_staff %}
        <a class="finalised nice-link" href="{% url 'admin_view_form_pdf' user_pk task.pk %}">View the completed form as a PDF</a>
      {% elif form_data.finalised %}
        <a class="finalised nice-link" href="{% url 'customer_view_form_pdf' task.pk %}">View your completed form as a PDF</a>
      {% elif pdf_link %}
        <a class="finalised nice-link" href="{{ pdf_link }}">View the template as a PDF</a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block nocard %}

  <form method="post" {% if form_data.finalised %}class="disabled"{% endif %} enctype="multipart/form-data">
    {% csrf_token %}
    {% for section in form_data.sections %}
      <h2 class="section-header">{{ section.title }}</h2>
      <p>{{ section.instructions | safe }}</p>
      {% for field in section.fields %}
        <div class="field">
          <label for="{{ field.name }}">{{ field.title }}</label>

          {% if field.type == 'text' %}
            <input type="text" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value|default:"" }}" {% if field.required %}required{% endif %}>

          {% elif field.type == 'textarea' %}
            <textarea id="{{ field.name }}" name="{{ field.name }}" {% if field.required %}required{% endif %}>{{ field.value|default:"" }}</textarea>

          {% elif field.type == 'select' %}
            <select id="{{ field.name }}" name="{{ field.name }}" {% if field.required %}required{% endif %}>
              <option value="" disabled selected>Select an option</option>
              {% for option in field.options %}
                <option value="{{ option.value|default:"" }}" {% if option.value == field.value %}selected{% endif %}>{{ option.value|default:"" }}</option>
              {% endfor %}
            </select>

          {% elif field.type == 'checkbox' %}
            <div class="checkbox-input">
              <input type="checkbox" id="{{ field.name }}" name="{{ field.name }}" {% if field.value %}checked{% endif %} {% if field.required %}required{% endif %}>
            </div>

          {% elif field.type == 'radio' %}
            <div class="radio-group">
              {% for option in field.options %}
                <div class="radio-option">
                  <input type="radio" id="{{ field.name }}-{{ option.value }}" name="{{ field.name }}" value="{{ option.value|default:"" }}" {% if field.value == option.value %}checked{% endif %} {% if field.required %}required{% endif %}>
                  <label class="radio-label" for="{{ field.name }}-{{ option.value }}">{{ option.value|default:"" }}</label>
                </div>
              {% endfor %}
            </div>

          {% elif field.type == 'file' %}
            <div class="file-input">
              {% if field.file %}
                <p class="file-preview">
                  <span class="current-prefix">Current: </span><a href="{{ field.file.url }}" target="_blank">{{ field.filename }}</a>
                </p>
              {% endif %}
              <input type="file" id="{{ field.name }}" name="{{ field.name }}" {% if field.required %}required{% endif %}>
            </div>

          {% elif field.type == 'countries' %}
            <select id="{{ field.name }}" name="{{ field.name }}" {% if field.required %}required{% endif %}>
              <option value="" disabled {% if not field.value %}selected{% endif %}>Select a country</option>
              {% for country in form_data.countries %}
                <option value="{{ country.code }}" {% if country.code == field.value %}selected{% endif %}>{{ country.name }}</option>
              {% endfor %}
            </select>

            {% comment %}
          {% elif field.type == 'date' %}
            <input type="date" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value|default:"" }}" {% if field.required %}required{% endif %}>

          {% elif field.type == 'number' %}
            <input type="number" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value|default:"" }}" {% if field.required %}required{% endif %}>

          {% elif field.type == 'email' %}
            <input type="email" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value|default:"" }}" {% if field.required %}required{% endif %}>

          {% elif field.type == 'url' %}
            <input type="url" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value|default:"" }}" {% if field.required %}required{% endif %}>
          
          {% elif field.type == 'telephone' %}
            <input type="tel" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value|default:"" }}" {% if field.required %}required{% endif %}>
            {% endcomment %}
          
          {% elif field.type == 'tel' %}
            <div class="tel-group">
                <!--<input type="tel" class="complete-number-input" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value|default:"" }}" {% if field.required %}required{% endif %} hidden>-->
                +<input type="tel" class="country-code-input" id="{{ field.name }}-code" {% if field.required %}required{% endif %} size="3" name="{{field.name}}-code" value="{{ field.value | phone_code }}">
                <input type="tel" class="main-number-input" id="{{ field.name }}-number" {% if field.required %}required{% endif %} name="{{field.name}}-number" value="{{ field.value | phone_number }}">
            </div>
          {% else %}
            <input type="{% if field.type %}{{ field.type }}{% else %}text{% endif %}" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value|default:"" }}" {% if field.required %}required{% endif %}>


          {% endif %}
        </div>
      {% endfor %}
    {% endfor %}
    <div class="submit">
      <button class="btn" type="submit" name="finalise" value="false" formnovalidate>Save Draft</button>
      <button class="btn" type="submit" name="finalise" value="true" onclick="return confirm('Are you sure you want to finalise this form? You will not be able to make any changes after this point.');">Submit</button>
    </div>
  </form>
{% endblock %}
