<style>
    #cookie-banner {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 999999;
        transition: all 2s;
        background-color: lightblue;
    }

    #cookie-banner.hidden {
        opacity: 0;
        z-index: -999999;
        pointer-events: none;
    }

    #cookie-banner-button {
        border-radius: 100px;
        transition: all 1s;
    }

    #cookie-banner-button:hover {
        transform: scale(1.1);
        transition: all 0.3s;
    }

    .cookie-banner-container {
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        left: 0;
        z-index: 999999;
    }
</style>
<div class="cookie-banner-container">
    <div class="hidden" id="cookie-banner">
        <div class="card-body d-flex justify-content-between">
            <div class="d-flex flex-column justify-content-center">
                By continuing, you accept to allowing cookies on your computer. Just don't get crumbs in your
                keyboard!
            </div>
            <button class="btn btn-primary accent hoverable-accent" id="cookie-banner-button">Okay!</button>
        </div>
    </div>
</div>

<script>
    document.getElementById('cookie-banner-button').addEventListener('click', () => {
        let cookie = document.cookie;
        let csrfToken = cookie.substring(cookie.indexOf('csrftoken=') + 'csrftoken='.length).split(';')[0];

        document.getElementById('cookie-banner').classList.add('hidden');
        $.ajax({
            type: "POST",
            url: "{% url 'accept-cookies' %}",
            error: () => {
                console.log("Failed at accepting cookies");
            },
            headers: {
                'X-CSRFToken': csrfToken
            }
        });
    });
</script>