<div class="modal fade" id="subscription-request" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Subscribe to our mailing list!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Be the first to hear about new tours, deals and promotions from Saiga Tours
                <form class="my-3" method="post" action="{% url 'subscribe' request.path %}">
                    <div class="d-flex w-100 gap-2">
                        <label for="{{ subscription_form.name.id_for_label }}" class="visually-hidden">Name</label>
                        <input id="{{ subscription_form.name.id_for_label }}"
                               name="{{ subscription_form.name.name }}"
                               type="text" class="form-control" placeholder="Name">
                        <label for="{{ subscription_form.email.id_for_label }}" class="visually-hidden">Email address</label>
                        <input id="{{ subscription_form.email.id_for_label }}"
                               name="{{ subscription_form.email.name }}"
                               type="text" class="form-control" placeholder="Email address">
                        <label for="{{ subscription_form.id.id_for_label }}" class="visually-hidden">User ID</label>
                        <input id="{{ subscription_form.id.id_for_label }}"
                               name="{{ subscription_form.id.name }}"
                               type="text" class="form-control" hidden>
                        <button class="btn btn-primary accent hoverable-accent" type="submit" role="button">
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    #subscription-request .modal-body {
        text-align: center;
        padding: 1.2rem;
    }
</style>

<script>
    function setUserId() {
        if (!localStorage.getItem('user_id')) {
            setTimeout(setUserId, 100);
        }
        const userId = document.querySelectorAll('input[name="{{ subscription_form.id.name }}"]');
        userId.forEach((input) => {
            input.value = localStorage.getItem('user_id');
        });
    }

    document.addEventListener('DOMContentLoaded', () => {
        setUserId();
    });
</script>
