{% extends 'main/main.html' %}
{% load static %}
{% load main_tags %}

{% block title %}
    {{ title }}
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/article_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/filters.css' %}">
    <style>
        .article-date {
            background-color: {{ settings.accent_background }};
            color: {{ settings.accent_foreground }}
        }

        #header-banner {
            width: 100%;
            height: 356px;
            object-fit: cover;
            position: absolute;
            z-index: -1;
        }

        #header-banner.blog-banner {
            object-position: 50% 50%;
        }

        #header-banner.news-banner {
            object-position: 50% 70%;
        }

        #header-content {
            height: 356px;
            position: relative;
            padding-left: 24px;
        }

        .breadcrumb {
            color: var(--accent-hover-foreground);
            width: max-content;
            white-space: nowrap;
        }

        .breadcrumb a {
            color: black;
            text-decoration: none;
        }

        .breadcrumb a:hover {
            color: var(--accent-hover-foreground);
        }

        #content-container {
            padding-top: 1rem !important;
        }
    </style>
{% endblock %}

{% block banner %}
    {% if title == 'Blog Posts' %}
        <img src="{% static 'images/blog_banner.jpg' %}" class="blog-banner" id="header-banner"/>
    {% else %}
        <img src="{% static 'images/news_banner.jfif' %}" class="news-banner" id="header-banner"/>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="header-content" class="d-flex flex-column justify-content-between">
        <div class="breadcrumb"><a href="{% url 'front-page' %}">Home</a> <i class="bi bi-dot"></i> Tours</div>
        <div class="heading d-flex flex-column justify-content-center">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="section-title">{{ title }}
                    <div class="underline underline-left"></div>
                </h1>
            </div>
        </div>
        <div></div>
    </div>

    <div class="container">
        {% for article in page_obj %}
            <div class="row m-4">
                <div class="card g-0 article-card">
                    <div class="d-flex flex-column flex-lg-row justify-content-between">
                        <div class="img-container flex-shrink-0">
                            <img full-size-src="{{ article.card_img.url }}" src="{% downscaled_image article.card_img 50 %}" width="9" height="5">
                        </div>
                        <div class="card-body flex-grow-1">
                            <h4 class="card-title display-6">{{ article.title }}</h4>
                            <p class="card-text">{{ article.excerpt | default:"Here's some more info." }}</p>
                        </div>
                        <div class="article-date">
                            {{ article.date|date }}
                        </div>
                        <a class="stretched-link" href="{% url 'article' article.slug %}"></a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <nav class="pagination row m-5 d-flex align-content-center">
            <span class="step-links" hidden>
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
            <nav aria-label="Article pagination">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a href="?page=1" class="page-link"><i class="bi bi-skip-start-fill"></i></a>
                        </li>
                        <li class="page-item">
                            <a href="?page={{ page_obj.previous_page_number }}" class="page-link"><i
                                    class="bi bi-caret-left-fill"></i></a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a href="?page=1" class="page-link disabled"><i class="bi bi-skip-start-fill"></i></a>
                        </li>
                        <li class="page-item disabled">
                            <a href="?page=1" class="page-link disabled"><i class="bi bi-caret-left-fill"></i></a>
                        </li>
                    {% endif %}
                    {% pagination_middle_buttons page_obj %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a href="?page={{ page_obj.next_page_number }}" class="page-link"><i
                                    class="bi bi-caret-right-fill"></i></a>
                        </li>
                        <li class="page-item">
                            <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link"><i
                                    class="bi bi-skip-end-fill"></i></a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link"><i
                                    class="bi bi-caret-right-fill"></i></a>
                        </li>
                        <li class="page-item disabled">
                            <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link"><i
                                    class="bi bi-skip-end-fill"></i></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </nav>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="filter-sidebar" aria-labelledby="filter-sidebar-title">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close Filter Sidebar"></button>
            <h3 id="filter-sidebar-label" class="display-6">Search</h3>
        </div>
        <div class="offcanvas-body px-3">
            <form method="get">
                <div class="row m-3">
                    <div class="input-group search-bar">
                        <input name="q" value="{{ query }}" id="search-input" type="text" class="form-control"
                               placeholder="Search"
                               aria-label="Search">
                        <span class="input-group-text"><i class="bi bi-search"></i></span>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h5>Date Range</h5>
                            </div>
                            <div class="card-body" id="date-selection">
                                <div class="input-group">
                                    <input name="start" class="form-control" type="text" id="date-start-input"
                                           placeholder="Start Date" value="{{ start_date|date:'Y-m-d' }}">
                                    <span class="input-group-text">-</span>
                                    <input name="end" class="form-control" type="text" id="date-end-input"
                                           placeholder="End Date" value="{{ end_date }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h5>Tags</h5>
                            </div>
                            <div class="card-body">
                                {% for tag in tags %}
                                    <div class="formcheck">
                                        <input name="tag-{{ tag.slug }}" class="form-check-input destination-checkbox"
                                               type="checkbox" value=""
                                               id="filter-destination-{{ tag.slug }}"
                                               {% if tag.slug in checked_tags %}checked{% endif %}>
                                        <label class="form-check-label" for="filter-destination-{{ tag.slug }}">
                                            {{ tag.name }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h5>Author</h5>
                            </div>
                            <div class="card-body">
                                {% for author in authors %}
                                    <div class="formcheck">
                                        <input name="author-{{ author }}" class="form-check-input"
                                               type="checkbox" value=""
                                               id="filter-{{ author }}"
                                               {% if author.name in checked_authors %}checked{% endif %}>
                                        <label class="form-check-label" for="filter-{{ author }}">
                                            {{ author }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-4 d-flex align-content-end">
                    <div class="col-6">
                        <button class="form-control btn btn-primary accent" role="button" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
    <script src="{% static 'js/fuse.js' %}"></script>
    <script src="{% static 'js/article_list.js' %}"></script>
    <script>
        start_picker.setDate("{{ start_date|date:'Y-m-d' }}");
        start_picker.setDate("{{ end_date|date:'Y-m-d' }}");
    </script>
    <script src="{% static 'js/header-banner.js' %}"></script>
{% endblock %}