{% extends 'main/main.html' %}
{% load static %}

{% block title %}
    {{ destination.name }} Guides
{% endblock %}

{% block extrahead %}
    {% if destination.guide_banner %}
        <style>
            #header-banner {
                --banner-x: {{ destination.guide_banner_x }};
                --banner-y: {{ destination.guide_banner_y }};
            }
        </style>
        <link href="{% static 'css/header-banner.css' %}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block banner %}
    {% if destination.guide_banner %}
        <img src="{{ destination.guide_banner.url }}" id="header-banner"/>
    {% endif %}
{% endblock %}

{% block content %}
    {% if not destination.guide_banner %}
        <h1 class="display-1">{{ destination.name }}</h1>
        <hr>
    {% else %}
        <div id="header-content" class="d-flex flex-column justify-content-between">
            <div class="breadcrumb">
                <a href="{% url 'front-page' %}">Home</a>
                <i class="bi bi-dot"></i>
                <a href="{% url 'destinations' %}">
                    Destination Guides
                </a>
                <i class="bi bi-dot"></i>
                <a href="{% url 'region' destination.region.slug %}">
                    {{ destination.region }}
                </a>
                <i class="bi bi-dot"></i>
                {{ destination }}
            </div>
            <div class="heading d-flex flex-column justify-content-center">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 id="title" class="section-title">{{ destination }}
                        <div class="underline underline-left"></div>
                    </h1>
                </div>
            </div>
            <div></div>
        </div>
    {% endif %}
    {{ destination.description | safe }}
    {% if details.count > 0 %}
        <hr>
        <h3 class="display-5">Details</h3>
        <div class="row">
            {% for detail in details.all %}
                <div class="col-xl-4 col-md-6 col-sm-12 g-0">
                    <div class="card img-card m-3">
                        <div class="img-card-contents">
                            <img src="{{ detail.card_img.url }}" class="card-img" alt="{{ detail.title }}">
                        </div>
                        <div class="card-img-overlay">
                            <h5 class="card-title">{{ detail.title }}</h5>
                        </div>
                        <a class="stretched-link"
                           href="{% url 'destination-details' detail.destination.region.slug detail.destination.slug detail.slug %}"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if tours.count > 0 %}
        <hr>
        <h3 class="display-5">Tours</h3>
        {% include 'main/tours_cards.html' %}
    {% endif %}
{% endblock content %}

{% block js %}
    <script src="{% static 'js/header-banner.js' %}"></script>
{% endblock %}