{% extends 'main/main.html' %}
{% load static %}

{% block title %}
    Destinations
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block content %}
    {% include 'main/map.html' %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/map.js' %}"></script>
    <script>
        let destinations = [];
        {% for destination in destinations %}
            destinations.push(["{{ destination.name }}", "{% url 'destination' destination.region.slug destination.slug %}"]);
        {% endfor %}

        let points = [];
        {% for point in points %}
            points.push({
                x: {{ point.x }},
                y: {{ point.y }},
                name: "{{ point.name }}",
                radius: {{ point.activation_radius }},
                size: {{ point.size }}
            })
        {% endfor %}
        make_map_work(destinations, undefined, undefined, undefined, undefined, undefined, points);
    </script>
{% endblock %}