{% extends 'main/main.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/banner.css' %}">
    <style>
        .banner-img {
            transition: left {{ settings.banner_transition_time }}s;
        }

    </style>
{% endblock %}

{% block banner %}
    <div class="banner">
        <div id="banner-slideshow">
            {% for banner in banners %}
                <img alt="banner image" data-src="{{ banner.img.url }}" class="banner-img hide to-load"
                     idx="{{ forloop.counter0 }}" min_ar="{{ banner.min_AR }}"
                     max_ar="{{ banner.max_AR }}">
            {% endfor %}
        </div>
        <div class="banner-text">
            <h1 class="display-1">{{ settings.site_title }}</h1>
            <p>We do tours to cool places</p>
            <div class="banner-text-background"></div>
        </div>
    </div>
{% endblock banner %}

{% block content %}
    <h1 class="display-1">Tours</h1>
    <hr>
    {% include 'main/tours_cards.html' %}
    {% for section in frontpage_sections %}
        <div class="page-section wide-bg d-flex justify-content-center flex-column"
             style="--background: {{ section.front_page_colour }}"
             id="page-section-{{ forloop.counter }}">
            <h1 class="display-1">{{ section.title }}</h1>
            {{ section.content | safe }}
        </div>
    {% endfor %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/visibility/visibility.core.js' %}"></script>
    <script src="{% static 'js/visibility/visibility.fallback.js' %}"></script>
    <script src="{% static 'js/visibility/visibility.timers.js' %}"></script>
    <script>
        let banner_delay = {{ settings.banner_delay }};
        let banner_init_delay = {{ settings.banner_initial_delay }};
    </script>
    <script src="{% static 'js/banner.js' %}"></script>
{% endblock %}