{% extends 'main/main.html' %}
{% load main_tags %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/banner.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_ckeditor.css' %}">
    {% if request.user.is_staff %}
        <link rel="stylesheet" type="text/css" href="{% static 'nouislider/nouislider_asdlj.css' %}">
    {% endif %}
    <style>
        .banner-img {
            transition: transform {{ settings.banner_transition_time }}s;
        }

        .banner-img[data-full-size-loaded="true"] {
            transition: transform {{ settings.banner_transition_time }}s, filter var(--blur-transition);
        }

        :root {
            --search-bar-radius: 15px;
        }

        #search-input {
            font-size: 1.5rem;
            border-bottom-left-radius: var(--search-bar-radius);
            border-top-left-radius: var(--search-bar-radius);
            background: rgba(255, 255, 255, 0.8);
            transition: background-color 0.5s;
        }

        #search-input:focus {
            background: rgba(255, 255, 255, 1);
        }

        #search-button {
            border-bottom-right-radius: var(--search-bar-radius);
            border-top-right-radius: var(--search-bar-radius);
        }

        .card:hover img {
            transform: scale(1.2);
        }
    </style>
    <script>
        let banner_transition_time = {{ settings.banner_transition_time }};
    </script>
{% endblock %}

{% block banner %}
    <div class="banner">
        <div id="banner-slideshow">
            {% for banner in banners %}
                <img alt="" data-filename="{{ banner.img.name }}" class="banner-img hide to-load"
                     idx="{{ forloop.counter0 }}" min_ar="{{ banner.min_AR }}"
                     max_ar="{{ banner.max_AR }}" src="{% downscaled_image banner.img 20 %}">
            {% endfor %}
        </div>
        <div class="banner-text">
            <h1 class="display-1">{{ settings.catchphrase }}</h1>
            <form method="get" action="{% url 'tours' %}">
                <div class="input-group search-bar">
                    <input id="search-input" type="text" class="form-control"
                           placeholder="Search for your next adventure"
                           aria-label="Search" name="q">
                    <button aria-label="submit search" class="btn btn-primary accent hoverable-accent input-group-text" id="search-button"><i
                            class="bi bi-search"></i></button>
                </div>
            </form>
            <div class="banner-text-background"></div>
        </div>
    </div>
{% endblock banner %}

{% block content %}
    {% for row in rows %}
        <div class="front-page-row">
            {% if row.type == 'tours' %}
                <h1 class="section-title">Tours
                    <div class="underline"></div>
                </h1>
                {% include 'main/tours_cards.html' with max_num=6 %}
                <div class="d-flex justify-content-center mb-5">
                <a href="{% url 'tours' %}" class="nice-link">
                    VIEW MORE
                </a>
                </div>
            {% elif row.type == 'section' %}
                {% if not row.colour_before %}
                    {% include 'main/separator.svg' with colour=row.colour pos="pre" %}
                {% endif %}
                {% with section=row.contents %}
                    <div class="page-section wide-bg d-flex justify-content-center flex-column"
                         style="--background: {{ section.front_page_colour }}"
                         id="page-section-{{ forloop.counter }}">
                        <h1 class="section-title">{{ section.title }}
                            <div class="underline"></div>
                        </h1>
                        {{ section.content | delay_images:request }}
                    </div>
                {% endwith %}
                {% include 'main/separator.svg' with colour=row.colour pos="post" %}
            {% elif row.type == 'map' %}
                <div {# class="wide-bg" #} style='--background: #e1f8ff'>
                    {% include 'main/map.html' with no_controls=True %}
                </div>
            {% elif row.type == 'highlight' %}
                <div class="row m-5 d-flex align-items-stretch">
                    {% for highlight in row.contents %}
                        <div class="col flex-grow-1 d-flex flex-column">
                            <div class="card d-flex flex-grow-1"
                                 style="background-color: {{ highlight.background_colour }}; border: 5px solid {{ highlight.border_colour }}">
                                <div class="card-header">
                                    <h6 class="display-6">{{ highlight.title }}</h6>
                            </div>
                            <div class="card-body">
                                {{ highlight.content | delay_images:request }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% elif row.type == 'testimonials' %}
            <h1 class="section-title testimonial-start">Testimonials
                <div class="underline"></div>
            </h1>
            <div id="testimonial-sizer" class="not-fold"></div>
            {% include 'main/testimonials.html' %}
            <link rel="stylesheet" href="{% static 'css/testimonials.css' %}">
            <script defer src="{% static 'js/testimonials.js' %}"></script>
        {% elif row.type == 'articles' %}
            <h1 class="section-title">{{ row.title }}
                <div class="underline"></div>
            </h1>
            <div class="row mb-5 article-section">
                {% for article in row.contents %}
                    <div class="d-flex flex-column col-xl-4 col-lg-6 col-md-12 g-4">
                        <div class="card order-2 text-card flex-grow-1">
                            <div class="card-body">
                                {{ article.excerpt | default:"Introductory info" }}
                            </div>
                            <div class="card-footer">
                                <table class="table table-borderless styled-table">
                                    {% if article.date %}
                                        <tr>
                                            <th class="table-icon"><i class="bi bi-calendar4-range"></i></th>
                                            <td class="table-value">{{ article.date|date }}</td>
                                        </tr>
                                    {% endif %}
                                    <tr{% if not article.author %} style="opacity: 0" {% endif %}>
                                        <th class="table-icon"><i class="bi bi-person"></i></th>
                                        <td class="table-value">{{ article.author }}</td>
                                    </tr>
                                </table>
                            </div>
                            <a class="stretched-link" aria-label="View article {{ article }}"
                               href="{% url 'article' article.slug %}"></a>
                        </div>

                        <div class="card order-1 img-title-card img-card mt-4">
                            <div class="img-card-contents">
                                <img src="{% downscaled_image article.card_img %}" data-filename="{{ article.card_img.name }}" class="card-img" alt="{{ article }}">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">{{ article }}</h5>
                                </div>
                            </div>
                            <a class="stretched-link"
                               href="{% url 'article' article.slug %}"></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
                <div class="d-flex justify-content-center mb-5">
                    <a href="{{ row.link }}" class="nice-link">
                        VIEW MORE
                    </a>
                </div>
            </div>
        {% else %}
            {{ row }}
        {% endif %}
        </div>
    {% endfor %}
{% endblock %}

{% block js %}
    <script defer src="{% static 'js/svg.js' %}"></script>
    <script defer src="{% static 'js/svg.panzoom.min.js' %}"></script>
    <script defer src="{% static 'js/svg.easing.min.js' %}"></script>
    <script defer src="{% static 'js/visibility/visibility.core.js' %}"></script>
    <script defer src="{% static 'js/visibility/visibility.fallback.js' %}"></script>
    <script defer src="{% static 'js/visibility/visibility.timers.js' %}"></script>
    <script>
        let banner_delay = {{ settings.banner_delay }};
        let banner_init_delay = {{ settings.banner_initial_delay }};
    </script>
    <script defer src="{% static 'js/banner.js' %}"></script>

    {% if request.user.is_staff %}
        <script defer src="{% static 'nouislider/nouislider.js' %}"></script>
    {% endif %}
    <script defer src="{% static 'js/map.js' %}"></script>
    <script type="module">
        window.destinations = {};
        {% for destination in destinations %}
            destinations[{{ destination.pk }}] = {
                name: {{ destination.name | js_str }},
                url: "{% url 'destination' destination.region.slug destination.slug %}",
                form_ix: {{ forloop.counter0 }},
                title_pos: {
                    x: {{ destination.title_x | convert_None }},
                    y: {{ destination.title_y | convert_None }},
                    scale: {{ destination.title_scale | convert_None }},
                    rotation: {{ destination.title_rotation | convert_None }},
                    curve: {{ destination.title_curve | convert_None }}
                }
            };
        {% endfor %}

        window.points = [];
        {% for point in points %}
            points.push({
                x: {% if point.template and point.template.x is not None %}{{ point.template.x | convert_None }}{% else %}{{ point.x | convert_None }}{% endif %},
                y: {% if point.template and point.template.y is not None %}{{ point.template.y | convert_None }}{% else %}{{ point.y | convert_None }}{% endif %},
                name: "{{ point.name }}",
                radius: {{ point.activation_radius }},
                size: {{ point.size }}
            })
        {% endfor %}
        make_map_work(destinations, undefined, undefined, undefined, undefined, undefined, points);
    </script>
    <script defer src="{% static 'js/ckeditor_styling.js' %}"></script>
{% endblock %}
