{% extends 'main/main.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/banner.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_ckeditor.css' %}">
    {% if request.user.is_staff %}
        <link rel="stylesheet" href="{% static 'nouislider/nouislider_asdlj.css' %}">
    {% endif %}
    <style>
        .banner-img {
            transition: left {{ settings.banner_transition_time }}s;
        }

        :root {
            --search-bar-radius: 15px;
        }

        #search-input {
            font-size: 1.5rem;
            border-bottom-left-radius: var(--search-bar-radius);
            border-top-left-radius: var(--search-bar-radius);
        }

        #search-button {
            border-bottom-right-radius: var(--search-bar-radius);
            border-top-right-radius: var(--search-bar-radius);
        }

        .card:hover img {
            transform: scale(1.2);
        }
    </style>
{% endblock %}

{% block banner %}
    <div class="banner">
        <div id="banner-slideshow">
            {% for banner in banners %}
                <img alt="banner image" data-filename="{{ banner.img.name }}" class="banner-img hide to-load"
                     idx="{{ forloop.counter0 }}" min_ar="{{ banner.min_AR }}"
                     max_ar="{{ banner.max_AR }}">
            {% endfor %}
        </div>
        <div class="banner-text">
            <h1 class="display-1">{{ settings.catchphrase }}</h1>
            <form method="get" action="{% url 'tours' %}">
                <div class="input-group search-bar">
                    <input id="search-input" type="text" class="form-control"
                           placeholder="Search for your next adventure"
                           aria-label="Search" name="q">
                    <button class="btn btn-primary accent hoverable-accent input-group-text" id="search-button"><i
                            class="bi bi-search"></i></button>
                </div>
            </form>
            <div class="banner-text-background"></div>
        </div>
    </div>
{% endblock banner %}

{% block content %}
    {% for row in rows %}
        <div class="front-page-row">
            {% if row.type == 'tours' %}
                <h1 class="section-title">Tours
                    <div class="underline"></div>
                </h1>
                {% include 'main/tours_cards.html' %}
            {% elif row.type == 'section' %}
                {% if not row.colour_before %}
                    {% include 'main/separator.svg' with colour=row.colour pos="pre" %}
                {% endif %}
                {% with section=row.contents %}
                    <div class="page-section wide-bg d-flex justify-content-center flex-column"
                         style="--background: {{ section.front_page_colour }}"
                         id="page-section-{{ forloop.counter }}">
                        <h1 class="section-title">{{ section.title }}
                            <div class="underline"></div>
                        </h1>
                        {{ section.content | safe }}
                    </div>
                {% endwith %}
                {% include 'main/separator.svg' with colour=row.colour pos="post" %}
            {% elif row.type == 'map' %}
                <div {# class="wide-bg" #} style='--background: #e1f8ff'>
                    {% include 'main/map.html' %}
                </div>
            {% elif row.type == 'highlight' %}
                <div class="row m-5 d-flex align-items-stretch">
                    {% for highlight in row.contents %}
                        <div class="col flex-grow-1 d-flex flex-column">
                            <div class="card d-flex flex-grow-1"
                                 style="background-color: {{ highlight.background_colour }}; border: 5px solid {{ highlight.border_colour }}">
                                <div class="card-header">
                                    <h6 class="display-6">{{ highlight.title }}</h6>
                            </div>
                            <div class="card-body">
                                {{ highlight.content | safe }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% elif row.type == 'articles' %}
            <h1 class="section-title">{{ row.title }}
                <div class="underline"></div>
            </h1>
            <div class="row mb-5 article-section">
                {% for article in row.contents %}
                    <div class="d-flex flex-column col-xl-4 col-lg-6 col-md-12 g-0">
                        <div class="card order-2 text-card flex-grow-1 mx-4">
                            <div class="card-body">
                                {{ article.excerpt | default:"Introductory info" }}
                            </div>
                            <div class="card-footer">
                                <table class="table table-borderless">
                                    {% if article.creation %}
                                        <tr>
                                            <th class="table-icon"><i class="bi bi-calendar4-range"></i></th>
                                            <td class="table-value">{{ article.creation|date }}</td>
                                        </tr>
                                    {% endif %}
                                    <tr{% if not article.author %} style="opacity: 0" {% endif %}>
                                        <th class="table-icon"><i class="bi bi-person"></i></th>
                                        <td class="table-value">{{ article.author }}</td>
                                    </tr>
                                </table>
                            </div>
                            <a class="stretched-link"
                               href="{% url 'article' article.slug %}"></a>
                        </div>

                        <div class="card order-1 img-title-card img-card mt-4 mx-4">
                            <img data-filename="{{ article.card_img.name }}" class="card-img" alt="{{ article }}">
                            <div class="card-img-overlay">
                                <h5 class="card-title">{{ article }}</h5>
                            </div>
                            <a class="stretched-link"
                               href="{% url 'article' article.slug %}"></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-center mb-5">
                <a href="{{ row.link }}">
                    {#                    <button id="filter-button"#}
                    {#                            class="btn btn-outline-secondary d-inline-flex align-items-center accent hoverable-accent"#}
                    {#                            data-bs-toggle="offcanvas" href="{{ row.link }}"#}
                    {#                            data-bs-target="#filter-sidebar" aria-controls="filter-sidebar" role="button"#}
                    {#                            style="align-self: center">#}
                    {#                        View More#}
                    {#                    </button>#}
                    <a href="{{ row.link }}" class="nice-link">
                        VIEW MORE
                    </a>
                </a>
            </div>
        {% else %}
            {{ row }}
        {% endif %}
        </div>
    {% endfor %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/visibility/visibility.core.js' %}"></script>
    <script src="{% static 'js/visibility/visibility.fallback.js' %}"></script>
    <script src="{% static 'js/visibility/visibility.timers.js' %}"></script>
    <script>
        let banner_delay = {{ settings.banner_delay }};
        let banner_init_delay = {{ settings.banner_initial_delay }};
    </script>
    <script src="{% static 'js/banner.js' %}"></script>

    {% if request.user.is_staff %}
        <script src="{% static 'nouislider/nouislider.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/map.js' %}"></script>
    <script>
        let destinations = [];
        {% for destination in destinations %}
            destinations.push(["{{ destination.name }}", "{% url 'destination' destination.region.slug destination.slug %}"]);
        {% endfor %}

        let points = [];
        {% for point in points %}
            points.push({
                x: {{ point.x }},
                y: {{ point.y }},
                name: "{{ point.name }}",
                radius: {{ point.activation_radius }},
                size: {{ point.size }}
            })
        {% endfor %}
        make_map_work(destinations, undefined, undefined, undefined, undefined, undefined, points);
    </script>
    <script>
        (function () {
            let col_width = 10;

            function size_images() {
                col_width = Math.max(Math.round(document.querySelectorAll('.article-section img')[0].getBoundingClientRect().width * window.devicePixelRatio), col_width);
                document.querySelectorAll('.article-section img').forEach(el => {
                    el.src = "resized-image/" + el.dataset.filename + "/" + col_width + "x99999999" + "/";
                });
            }

            window.addEventListener('load', size_images);
            window.addEventListener('resize', size_images);
        })();
    </script>
{% endblock %}