{% load static %}
<style>
    {% for destination in destinations %}
        [title="{{ destination.name }}"] {
            fill: {% if destination.map_colour is None %}var(--accent-background){% else %}{{ destination.map_colour }}{% endif %};
        }

        {% if hoverable == 1 %}
            [title="{{ destination.name }}"]:hover {
                fill: var(--accent-hover-background);
            }
        {% endif %}
    {% endfor %}
</style>
<script src="{% static 'js/svg.min.js' %}"></script>
<script src="{% static 'js/svg.panzoom.min.js' %}"></script>
<script src="{% static 'js/svg.easing.min.js' %}"></script>

<div class="pre-load map">
    <div style="float: right; z-index: 5; margin-bottom: -100%; position: relative">
        <button class="btn btn-primary accent hoverable-accent" type="button" id="map-zoom-in"><i
                class="bi bi-zoom-in"></i></button>
        <button class="btn btn-primary accent hoverable-accent" type="button" id="map-zoom-out"><i
                class="bi bi-zoom-out"></i></button>
        <button class="btn btn-primary accent hoverable-accent" type="button" id="map-zoom-reset"><i
                class="bi bi-arrows-fullscreen"></i></button>
        {% if request.user.is_staff %}
            <button class="btn btn-primary accent hoverable-accent" type="button" id="map-download"><i
                    class="bi bi-download"></i></button>
        {% endif %}
    </div>
    {% include 'main/world_map.svg' %}
</div>

{% if request.user.is_staff %}
    <div class="modal fade" data-bs-scroll="true" data-bs-backdrop="false" id="save-modal" tabindex="-1"
         aria-labelledby="saveModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="saveModalLabel">Select Resolution</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {#                        <input aria-label="select resolution" type="text" id="resolution-input" class="form-control">#}
                    <div id="resolution-input" class="mt-5"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save-resolution">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}