<style>
    {% for destination in destinations %}
        [title="{{ destination.name }}"] {
            fill: {% if destination.map_colour is None %}var(--accent-background){% else %}{{ destination.map_colour }}{% endif %};
        }

        {% if hoverable == 1 %}
            [title="{{ destination.name }}"]:hover {
                fill: var(--accent-hover-background);
            }
        {% endif %}
    {% endfor %}
</style>

<div class="pre-load map">
    {% include 'main/world_map.svg' %}
</div>
