{% load static %}
<style>
    {% for destination in destinations %}
        [title="{{ destination.name }}"] {
            fill: {% if destination.map_colour is None %}var(--accent-background){% else %}{{ destination.map_colour }}{% endif %};
        }

        {% if hoverable == 1 %}
            [title="{{ destination.name }}"]:hover {
                fill: var(--accent-hover-background);
            }
        {% endif %}
    {% endfor %}
</style>
<script src="{% static 'js/svg.min.js' %}"></script>
<script src="{% static 'js/svg.panzoom.min.js' %}"></script>
<script src="{% static 'js/svg.easing.min.js' %}"></script>

<div class="pre-load map">
    <div style="float: right; z-index: 5; margin-bottom: -100%; position: relative">
        <button class="btn btn-primary accent hoverable-accent" type="button" id="map-zoom-in"><i
                class="bi bi-zoom-in"></i></button>
        <button class="btn btn-primary accent hoverable-accent" type="button" id="map-zoom-out"><i
                class="bi bi-zoom-out"></i></button>
        <button class="btn btn-primary accent hoverable-accent" type="button" id="map-zoom-reset"><i
                class="bi bi-arrows-fullscreen"></i></button>
        {% if request.user.is_staff %}
        <button class="btn btn-primary accent hoverable-accent" type="button" id="map-download"><i
                class="bi bi-download"></i></button>
        {% endif %}
    </div>
    {% include 'main/world_map.svg' %}
</div>
