{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNav" aria-labelledby="offcanvasNavLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasNavLabel"></h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <div class="justify-content-between" id="offcanvasNav">
          <ul class="offcanvas-nav">
              {% for page in pages %}
                  {% if not page.has_children and user.is_staff or not page.has_published_children and not user.is_staff %}
                      <li class="nav-item">
                          <a class="nav-link main-nav"
                             href="{% url 'page' page.full_path %}">{{ page.title.upper }}</a>
                      </li>
                  {% else %}
                      <li class="nav-item dropdown">
                          <input type="checkbox" class="tree-toggle">
                          </input>
                          <a type="button" class="main-nav nav-link" role="button"
                             href="{% url 'page' page.full_path %}">{{ page.title.upper }}
                              <i class="bi bi-chevron-down"></i></a>
                          <ul>
                              {% if user.is_staff %}
                                  {% for child_page in page.children.all %}
                                      {% if forloop.counter == settings.testimonials_navbar_pos and settings.testimonials_parent == page %}
                                          <li>
                                              <a class="dropdown-item d-flex justify-content-between"
                                                 href="{% url 'testimonials' %}">Testimonials</a>
                                          </li>
                                      {% endif %}
                                      {% include 'main/offcanvas_navitem.html' with page=child_page %}
                                  {% endfor %}
                              {% else %}
                                  {% for child_page in page.published_children %}
                                      {% if forloop.counter == settings.testimonials_navbar_pos and settings.testimonials_active and settings.testimonials_parent == page %}
                                          <li>
                                              <a class="dropdown-item d-flex justify-content-between"
                                                 href="{% url 'testimonials' %}">Testimonials</a>
                                          </li>
                                      {% endif %}
                                      {% include 'main/offcanvas_navitem.html' with page=child_page %}
                                  {% endfor %}
                              {% endif %}
                          </ul>
                      </li>
                  {% endif %}
              {% endfor %}
              {% comment %}
                <li class="nav-item">
                    <a class="nav-link main-nav" href="{% url 'tours' %}">Tours</a>
                </li>
                {% endcomment %}
              <li class="nav-item dropdown btn-group">
                  <input type="checkbox" class="tree-toggle">
                  <a type="button" class="nav-link main-nav" role="button"
                     href="{% url 'tours' %}">TOURS
                      <i class="bi bi-chevron-down"></i></a>
                  <ul>
                      {% for region in tour_regions %}
                          <li>
                              {% if region.destinations.count > 0 %}<input type="checkbox" class="tree-toggle">{% endif %}
                              <a class="dropdown-item d-flex justify-content-between"
                                 href="{% url 'tours' region.slug %}">{{ region.name }}</a>
                              <ul>
                                  {% if user.is_staff %}
                                      {% for country in region.destinations.all %}
                                          <li>
                                              <a class="dropdown-item d-flex justify-content-between"
                                                 href="{% url 'tours' region.slug country.slug %}">{{ country.name }}
                                                  <i class="bi bi-chevron-right"></i></a>
                                              <ul class="dropdown-menu dropdown-submenu">
                                                  {% for detail in country.tour_info %}
                                                      <li><a class="dropdown-item d-flex justify-content-between"
                                                             href="{% url 'tours' region.slug country.slug detail.slug %}">{{ detail.title }}</a>
                                                      </li>
                                                  {% endfor %}
                                              </ul>
                                          </li>
                                      {% endfor %}
                                  {% else %}
                                      {% for country in region.destinations.all_published %}
                                          <li>
                                              <a class="dropdown-item d-flex justify-content-between"
                                                 href="{% url 'tours' region.slug country.slug %}">{{ country.name }}
                                                  <i class="bi bi-chevron-right"></i></a>
                                              <ul class="dropdown-menu dropdown-submenu">
                                                  {% for detail in country.tour_info %}
                                                      {% if detail.published %}
                                                          <li><a class="dropdown-item d-flex justify-content-between"
                                                                 href="{% url 'tours' region.slug country.slug detail.slug %}">{{ detail.title }}</a>
                                                          </li>
                                                      {% endif %}
                                                  {% endfor %}
                                              </ul>
                                          </li>
                                      {% endfor %}
                                  {% endif %}
                              </ul>
                          </li>
                      {% endfor %}
                  </ul>
              </li>
              <li class="nav-item dropdown btn-group">
                  <input type="checkbox" class="tree-toggle">
                  <a type="button" class="nav-link main-nav" role="button"
                     href="{% url 'destinations' %}">DESTINATION GUIDES
                      <i class="bi bi-chevron-down"></i></a>
                  <ul>
                      {% for region in guide_regions %}
                          <li>
                              {% if region.destinations.count > 0 %}<input type="checkbox" class="tree-toggle">{% endif %}
                              <a class="dropdown-item d-flex justify-content-between"
                                 href="{% url 'region' region.slug %}">{{ region.name }}</a>
                              <ul>
                                  {% if user.is_staff %}
                                      {% for country in region.destinations.all %}
                                          <li>
                                              {% if country.guide_details.count > 0 %}<input type="checkbox" class="tree-toggle">{% endif %}
                                              <a class="dropdown-item d-flex justify-content-between"
                                                 href="{% url 'destination' region.slug country.slug %}">{{ country.name }}</a>
                                              <ul>
                                                  {% for detail in country.guide_details %}
                                                      <li><a class="dropdown-item d-flex justify-content-between"
                                                             href="{% url 'destination-details' region.slug country.slug detail.slug %}">{{ detail.title }}</a>
                                                      </li>
                                                  {% endfor %}
                                              </ul>
                                          </li>
                                      {% endfor %}
                                  {% else %}
                                      {% for country in region.destinations.all_published %}
                                          <li>
                                              {% if country.guide_details.count > 0 %}<input type="checkbox" class="tree-toggle">{% endif %}
                                              <a class="dropdown-item d-flex justify-content-between"
                                                 href="{% url 'destination' region.slug country.slug %}">{{ country.name }}</a>
                                              <ul>
                                                  {% for detail in country.guide_details %}
                                                      {% if detail.published %}
                                                          <li><a class="dropdown-item d-flex justify-content-between"
                                                                 href="{% url 'destination-details' region.slug country.slug detail.slug %}">{{ detail.title }}</a>
                                                          </li>
                                                      {% endif %}
                                                  {% endfor %}
                                              </ul>
                                          </li>
                                      {% endfor %}
                                  {% endif %}
                              </ul>
                          </li>
                      {% endfor %}
                  </ul>
              </li>
              <li class="nav-item">
                  <a class="nav-link main-nav" href="{% url 'blog' %}">BLOG</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link main-nav" href="{% url 'news' %}">NEWS</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link main-nav" href="{% url 'contact' %}">CONTACT</a>
              </li>
              <!--
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'front-page' %}">Due Tests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'front-page' %}">View Test Data</a>
                    </li>
                {% endif %}
                -->
            {% if settings.ai_search_active == 'A' or settings.ai_search_active == 'S' and request.user.is_staff %}
              <button class="btn btn-outline-primary toggle-search" type="button">
                  Search <i class="bi bi-search"></i>
              </button>
              {% endif %}
              {% if request.user.is_authenticated %}
                <li class="nav-item dropdown user-label navbar-nav">
                    <input type="checkbox" class="tree-toggle">
                  <span class="nav-link main-nav" role="button"
                     >Hello, {{ request.user.customer.display_name }}
                      <i class="bi bi-chevron-down"></i></span>
                  <ul>
                        <li>
                            <a class="dropdown-item d-flex justify-content-between"
                               href="{% url 'dashboard' %}">My Dashboard
                                </a>
                        </li>
                        {% if request.user.is_staff %}
                        <li>
                            <a class="dropdown-item d-flex justify-content-between"
                               href="{% url 'admin:index' %}">Admin
                                </a>
                        {% endif %}
                        <hr>
                        <li>
                            <a class="dropdown-item d-flex justify-content-between"
                               href="{% url 'password_change' %}">Change password
                                </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex justify-content-between"
                               href="{% url 'two_factor:profile' %}">Manage 2FA
                                </a>
                        <li>
                            <a class="dropdown-item d-flex justify-content-between"
                               href="{% url 'logout' %}">Logout
                                </a>
                        </li>
                    </ul>
                </li>
              {% else %}
                <div class="login-btns">
                    <a class="nav-link btn btn-secondary" href="{% url 'register' %}">Register</a>
                    <a class="nav-link btn btn-primary" href="{% url 'login' %}">Login</a>
                </div>
              {% endif %}
          </ul>
      </div>
  </div>
</div>

<nav class="navbar sticky-top navbar-expand-xl navbar-light py-0">
    <div class="container px-5">
        <div class="navbar-brand">
            <a aria-label="homepage" class="navbar-brand" href="{% url 'front-page' %}">
                <img alt="SAIGA logo" data-no-minimise class="logo" src="{{ settings.logo_url }}">
                {#                {{ settings.site_title }}#}
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-expanded="false"
                aria-controls="navbarNav" aria-label="Toggle navigation"
                data-bs-toggle="offcanvas" data-bs-target="#offcanvasNav" aria-controls="offcanvasNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                {% for page in pages %}
                    {% if not page.has_children and user.is_staff or not page.has_published_children and not user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link main-nav"
                               href="{% url 'page' page.full_path %}">{{ page.title.upper }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown btn-group">
                            <a type="button" class="main-nav nav-link" role="button"
                               href="{% url 'page' page.full_path %}">{{ page.title.upper }}
                                <i class="bi bi-chevron-down"></i></a>
                            <a class="nav-link dropdown-toggle-split dropdown-toggle main-nav" role="button"
                               id="dropdownMenuButton"
                               data-bs-toggle="dropdown">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% if user.is_staff %}
                                    {% for child_page in page.children.all %}
                                        {% if forloop.counter == settings.testimonials_navbar_pos and settings.testimonials_parent == page %}
                                            <li>
                                                <a class="dropdown-item d-flex justify-content-between"
                                                   href="{% url 'testimonials' %}">Testimonials</a>
                                            </li>
                                        {% endif %}
                                        {% include 'main/page_dropdown.html' with page=child_page %}
                                    {% endfor %}
                                {% else %}
                                    {% for child_page in page.published_children %}
                                        {% if forloop.counter == settings.testimonials_navbar_pos and settings.testimonials_active and settings.testimonials_parent == page %}
                                            <li>
                                                <a class="dropdown-item d-flex justify-content-between"
                                                   href="{% url 'testimonials' %}">Testimonials</a>
                                            </li>
                                        {% endif %}
                                        {% include 'main/page_dropdown.html' with page=child_page %}
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
                {% comment %}
                <li class="nav-item">
                    <a class="nav-link main-nav" href="{% url 'tours' %}">Tours</a>
                </li>
                {% endcomment %}
                <li class="nav-item dropdown btn-group">
                    <a type="button" class="nav-link main-nav" role="button"
                       href="{% url 'tours' %}">TOURS
                        <i class="bi bi-chevron-down"></i></a>
                    <a class="nav-link dropdown-toggle-split dropdown-toggle main-nav" role="button"
                       id="dropdownMenuButton"
                       data-bs-toggle="dropdown">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for region in tour_regions %}
                            <li>
                                <a class="dropdown-item d-flex justify-content-between"
                                   href="{% url 'tours' region.slug %}">{{ region.name }} <i
                                        class="bi bi-chevron-right"></i></a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    {% if user.is_staff %}
                                        {% for country in region.destinations.all %}
                                            <li>
                                                <a class="dropdown-item d-flex justify-content-between"
                                                   href="{% url 'tours' region.slug country.slug %}">{{ country.name }}
                                                    <i class="bi bi-chevron-right"></i></a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    {% for detail in country.tour_info %}
                                                        <li><a class="dropdown-item d-flex justify-content-between"
                                                               href="{% url 'tours' region.slug country.slug detail.slug %}">{{ detail.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        {% for country in region.destinations.all_published %}
                                            <li>
                                                <a class="dropdown-item d-flex justify-content-between"
                                                   href="{% url 'tours' region.slug country.slug %}">{{ country.name }}
                                                    <i class="bi bi-chevron-right"></i></a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    {% for detail in country.tour_info %}
                                                        {% if detail.published %}
                                                        <li><a class="dropdown-item d-flex justify-content-between"
                                                               href="{% url 'tours' region.slug country.slug detail.slug %}">{{ detail.title }}</a>
                                                        </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item dropdown btn-group">
                    <a type="button" class="nav-link main-nav" role="button"
                       href="{% url 'destinations' %}">DESTINATION GUIDES
                        <i class="bi bi-chevron-down"></i></a>
                    <a class="nav-link dropdown-toggle-split dropdown-toggle main-nav" role="button"
                       id="dropdownMenuButton"
                       data-bs-toggle="dropdown">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for region in guide_regions %}
                            <li>
                                <a class="dropdown-item d-flex justify-content-between"
                                   href="{% url 'region' region.slug %}">{{ region.name }} <i
                                        class="bi bi-chevron-right"></i></a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    {% if user.is_staff %}
                                        {% for country in region.destinations.all %}
                                            <li>
                                                <a class="dropdown-item d-flex justify-content-between"
                                                   href="{% url 'destination' region.slug country.slug %}">{{ country.name }}
                                                    <i class="bi bi-chevron-right"></i></a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    {% for detail in country.guide_details %}
                                                        <li><a class="dropdown-item d-flex justify-content-between"
                                                               href="{% url 'destination-details' region.slug country.slug detail.slug %}">{{ detail.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        {% for country in region.destinations.all_published %}
                                            <li>
                                                <a class="dropdown-item d-flex justify-content-between"
                                                   href="{% url 'destination' region.slug country.slug %}">{{ country.name }}
                                                    <i class="bi bi-chevron-right"></i></a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    {% for detail in country.guide_details %}
                                                        {% if detail.published %}
                                                            <li><a class="dropdown-item d-flex justify-content-between"
                                                                   href="{% url 'destination-details' region.slug country.slug detail.slug %}">{{ detail.title }}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link main-nav" href="{% url 'blog' %}">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link main-nav" href="{% url 'news' %}">NEWS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link main-nav" href="{% url 'contact' %}">CONTACT</a>
                </li>
                <!--
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'front-page' %}">Due Tests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'front-page' %}">View Test Data</a>
                    </li>
                {% endif %}
                -->
            </ul>
              {% if request.user.is_authenticated %}
              <div class="nav-item navbar-nav">
            {% if settings.ai_search_active == 'A' or settings.ai_search_active == 'S' and request.user.is_staff %}
              <div class="login-btns">
              <button class="btn btn-outline-primary toggle-search" type="button">
                  <i class="bi bi-search"></i>
              </button>
              </div>
              {% endif %}
                <div class="dropdown user-label">
                    <div class="nav-link main-nav" role="button">
                        Hello, {{ request.user.customer.display_name }}
                        <i class="bi bi-chevron-down"></i>
                    </div>
                    <a class="nav-link dropdown-toggle-split dropdown-toggle main-nav" role="button"
                       id="dropdownMenuButton"
                       data-bs-toggle="dropdown">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a class="dropdown-item d-flex justify-content-between"
                               href="{% url 'dashboard' %}">My Dashboard
                                </a>
                        </li>
                        {% if request.user.is_staff %}
                        <li>
                            <a class="dropdown-item d-flex justify-content-between"
                               href="{% url 'admin:index' %}">Admin
                                </a>
                        {% endif %}
                        <hr>
                        <li>
                            <a class="dropdown-item d-flex justify-content-between"
                               href="{% url 'password_change' %}">Change password
                                </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex justify-content-between"
                               href="{% url 'two_factor:profile' %}">Manage 2FA
                                </a>
                        <li>
                            <a class="dropdown-item d-flex justify-content-between"
                               href="{% url 'logout' %}">Logout
                                </a>
                        </li>
                    </ul>
                </div>
              </div>
              {% else %}
                <div class="login-btns">
            {% if settings.ai_search_active == 'A' or settings.ai_search_active == 'S' and request.user.is_staff %}
              <button class="btn btn-outline-primary toggle-search" type="button">
                  <i class="bi bi-search"></i>
              </button>
            {% endif %}
                    <a class="nav-link btn btn-secondary" href="{% url 'register' %}">Register</a>
                    <a class="nav-link btn btn-primary" href="{% url 'login' %}">Login</a>
                </div>
              {% endif %}
        </div>

        <!--
        {% if request.user.is_authenticated %}
            <span class="hello-msg">Hello, {{ request.user }}</span>
            <span><a class="btn btn-secondary" href="{% url 'front-page' %}" style="right: 10px; position: relative;">Logout</a></span>
        {% else %}
            <span class="hello-msg">Hello, visitor!</span>
            <span><a class="btn btn-primary" href="{% url 'front-page' %}"
                     style="right: 10px; position: relative">Login</a></span>
        {% endif %}
        -->
    </div>

    {% if request.user.is_staff %}
        <div id="testing-button">
            <!-- button to add testing parameter to url -->
            <a class="btn hoverable-accent accent" href=""><span class="full-text">Testing version</span><i class="bi icon bi-clipboard-data"></i></a>
        </div>

        <style>
            #testing-button {
                position: absolute;
                right: 30px;
            }

            #testing-button .icon {
                display: none;
            }

            @media (max-width: 1500px) {
                #testing-button .full-text {
                    display: none;
                }

                #testing-button .icon {
                    display: inline-block;
                }
            }

            #testing-button.active a {
                background-color: var(--accent-hover-background);
            }
        </style>

        <script type="module">
            (function () {
                let testing_button = document.getElementById('testing-button');
                let testing_cookie = document.cookie.split(';').find(row => row.includes('testing'));
                console.log("testing_cookie: ", testing_cookie);
                let testing = false;
                if (testing_cookie && testing_cookie.includes('true')) {
                    testing_button.classList.add('active');
                    testing = true;
                }

                testing_button.addEventListener('click', function () {
                    testing = !testing;
                    testing_button.classList.toggle('active');
                    document.cookie = `testing=${testing}; path=/`;
                    window.location.reload();
                });
            })();
        </script>
    {% endif %}
</nav>

