{% load static %}

<link rel="stylesheet" href="{% static 'css/navbar_.css' %}">

<nav class="navbar sticky-top navbar-expand-xl navbar-light py-4">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a class="navbar-brand" href="{% url 'front-page' %}">
                <img class="logo" src="{{ settings.logo.url }}">
                {{ settings.site_title }}</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-expanded="false"
                aria-controls="navbarNav" aria-label="Toggle navigation" data-bs-target="#navbarNav"
                data-bs-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="position: relative; left: 10px">
            <ul class="navbar-nav">
                {% for page in pages %}
                    {% if page.children.count == 0 and user.is_staff or page.published_children.count == 0 and not user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link main-nav" href="{% url 'page' page.full_path %}">{{ page.title }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown btn-group">
                            <a type="button" class="nav-link main-nav" role="button"
                               href="{% url 'page' page.full_path %}">{{ page.title }}</a>
                            <a class="nav-link dropdown-toggle-split dropdown-toggle main-nav" role="button"
                               id="dropdownMenuButton"
                               data-bs-toggle="dropdown">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% if user.is_staff %}
                                    {% for child_page in page.children.all %}
                                        {% include 'main/page_dropdown.html' with page=child_page %}
                                    {% endfor %}
                                {% else %}
                                    {% for child_page in page.published_children %}
                                        {% include 'main/page_dropdown.html' with page=child_page %}
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
                {% comment %}
                <li class="nav-item">
                    <a class="nav-link main-nav" href="{% url 'tours' %}">Tours</a>
                </li>
                {% endcomment %}
                <li class="nav-item dropdown btn-group">
                    <a type="button" class="nav-link main-nav" role="button"
                       href="{% url 'tours' %}">Tours</a>
                    <a class="nav-link dropdown-toggle-split dropdown-toggle main-nav" role="button"
                       id="dropdownMenuButton"
                       data-bs-toggle="dropdown">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for region in regions %}
                            <li>
                                <a class="dropdown-item d-flex justify-content-between"
                                   href="{% url 'tours' region.slug %}">{{ region.name }} <i
                                        class="bi bi-caret-right-fill"></i></a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    {% if user.is_staff %}
                                        {% for country in region.destinations.all %}
                                            <li>
                                                <a class="dropdown-item d-flex justify-content-between"
                                                   href="{% url 'tours' region.slug country.slug %}">{{ country.name }}
                                                    <i class="bi bi-caret-right-fill"></i></a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    {% for detail in country.tour_info %}
                                                        <li><a class="dropdown-item d-flex justify-content-between"
                                                               href="{% url 'tours' region.slug country.slug detail.slug %}">{{ detail.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        {% for country in region.destinations.all_published %}
                                            <li>
                                                <a class="dropdown-item d-flex justify-content-between"
                                                   href="{% url 'destination' region.slug country.slug %}">{{ country.name }}
                                                    <i class="bi bi-caret-right-fill"></i></a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    {% for detail in country.details.all_published %}
                                                        <li><a class="dropdown-item d-flex justify-content-between"
                                                               href="{% url 'destination-details' region.slug country.slug detail.slug %}">{{ detail.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item dropdown btn-group">
                    <a type="button" class="nav-link main-nav" role="button"
                       href="{% url 'destinations' %}">Destination Guides</a>
                    <a class="nav-link dropdown-toggle-split dropdown-toggle main-nav" role="button"
                       id="dropdownMenuButton"
                       data-bs-toggle="dropdown">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for region in regions %}
                            <li>
                                <a class="dropdown-item d-flex justify-content-between"
                                   href="{% url 'region' region.slug %}">{{ region.name }} <i
                                        class="bi bi-caret-right-fill"></i></a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    {% if user.is_staff %}
                                        {% for country in region.destinations.all %}
                                            <li>
                                                <a class="dropdown-item d-flex justify-content-between"
                                                   href="{% url 'destination' region.slug country.slug %}">{{ country.name }}
                                                    <i class="bi bi-caret-right-fill"></i></a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    {% for detail in country.guide_details %}
                                                        <li><a class="dropdown-item d-flex justify-content-between"
                                                               href="{% url 'destination-details' region.slug country.slug detail.slug %}">{{ detail.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        {% for country in region.destinations.all_published %}
                                            <li>
                                                <a class="dropdown-item d-flex justify-content-between"
                                                   href="{% url 'destination' region.slug country.slug %}">{{ country.name }}
                                                    <i class="bi bi-caret-right-fill"></i></a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    {% for detail in country.details.all_published %}
                                                        <li><a class="dropdown-item d-flex justify-content-between"
                                                               href="{% url 'destination-details' region.slug country.slug detail.slug %}">{{ detail.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link main-nav" href="{% url 'blog' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link main-nav" href="{% url 'news' %}">News</a>
                </li>
                <li id="inline-contact" class="nav-item">
                    <a class="nav-link main-nav" href="{% url 'contact' %}">Contact</a>
                </li>
                <!--
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'front-page' %}">Due Tests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'front-page' %}">View Test Data</a>
                    </li>
                {% endif %}
                -->
            </ul>
        </div>

        <!--
        {% if request.user.is_authenticated %}
            <span class="hello-msg">Hello, {{ request.user }}</span>
            <span><a class="btn btn-secondary" href="{% url 'front-page' %}" style="right: 10px; position: relative;">Logout</a></span>
        {% else %}
            <span class="hello-msg">Hello, visitor!</span>
            <span><a class="btn btn-primary" href="{% url 'front-page' %}"
                     style="right: 10px; position: relative">Login</a></span>
        {% endif %}
        -->
        <div id="separate-contact">
            <a class="nav-link main-nav" href="{% url 'contact' %}">Contact Us<i class="bi bi-envelope m-3"></i></a>
        </div>
    </div>
</nav>
