{% extends 'main/main.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
{{ page.title }}
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/banner.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_ckeditor.css' %}">
    {% if request.user.is_staff %}
        <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>
    {% endif %}
    <style>
        #header-banner {
            width: 100%;
            height: 356px;
            object-fit: cover;
            position: absolute;
            z-index: -1;
            left: 0;
            object-position: {{ page.banner_pos_x }}% {{ page.banner_pos_y }}%;
        }

        #header-content {
            height: 356px;
            position: relative;
            padding-left: 24px;
        }

        .header-subtitle {
            margin-bottom: 12px;
            color: #36bca1;
            font-family: "Caveat", sans-serif;
            font-weight: bold;
            font-size: 20px;
        }

        .breadcrumb {
            color: grey;
        }

        .breadcrumb a {
            color: black;
            text-decoration: none;
        }

        .breadcrumb a:hover {
            color: var(--accent-hover-foreground);
        }

        #content-container {
            padding-top: 1rem !important;
        }

        #content {
            position: unset !important;
        }
    </style>
{% endblock %}

{% block banner %}
    {% if request.user.is_staff %}
        <button id="editor-button" class="btn btn-outline-secondary d-inline-flex align-items-center"
                data-bs-toggle="offcanvas"
                data-bs-target="#editor-offcanvas" aria-controls="editor-offcanvas" role="button"
                style="float: left; position: sticky; margin: 50px; top: 200px;">
            <span class="bi bi-pencil" style="font-size: 1.5rem"></span> <span style="margin-left: 4px;">Edit</span>
        </button>
    {% endif %}

    {% if page.banner_img %}
        <img src="{{ page.banner_img.url }}" id="header-banner"/>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="header-content" class="d-flex flex-column justify-content-between">
        <div class="breadcrumb">{% include 'main/page_breadcrumb.html' %}{{ page.title }}</div>
        <div class="heading d-flex flex-column justify-content-center">
            <div class="d-flex justify-content-between align-items-center">
                <h1 id="title" class="section-title">{{ page.title }}
                    <div class="underline underline-left"></div>
                </h1>
            </div>
        </div>
        <div></div>
    </div>

    <div id="editor-toolbar"></div>

    <div id="content">
        {{ page.content | safe }}
    </div>

    {% if user.is_staff %}
        {% include 'main/page_list.html' with pages=page.children.all %}

        {% include 'main/page_list.html' with pages=page.siblings title=page.parent.sibling_label %}
    {% else %}
        {% include 'main/page_list.html' with pages=page.children.all_published %}

        {% include 'main/page_list.html' with pages=page.published_siblings title=page.parent.sibling_label %}
    {% endif %}

    {% if request.user.is_staff %}
        <div class="offcanvas offcanvas-start" tabindex="-1" id="editor-offcanvas">
            <form style="margin: 20px;" method="post" enctype="multipart/form-data" id="edit-page-form">
                {% bootstrap_form_errors form %}
                {% csrf_token %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="editing">
                    <label class="form-check-label" for="editing">
                        In-place editing
                    </label>
                </div>
                {% bootstrap_form form %}
                <button type="submit" id="edit-page-submit" class="btn btn-primary accent hoverable-accent">Submit
                    Changes
                </button>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    {% if request.user.is_staff %}
        {#        <script src="https://cdn.ckeditor.com/4.16.2/standard-all/ckeditor.js"></script>#}
        <script src="{% static 'js/jscolor.min.js' %}"></script>
        <script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
        <script src="{% static 'js/custom_ckeditor.js' %}"></script>
        <script src="{% static 'js/page_editing.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/ckeditor_styling.js' %}"></script>
{% endblock %}
