{% extends 'main/main.html' %}
{% load main_tags %}
{% load static %}

{% block title %}
    {{ region.name }} Tours
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
{% endblock %}

{% block content %}
    {% if countries %}
        {% include 'main/map.html' with destinations=countries %}
    {% endif %}
    {% if countries and region.tour_blurb or countries and tours %}
        <hr>
    {% endif %}
    {{ region.tour_blurb | safe }}
    {% if region.tour_blurb and tours %}
        <hr>
    {% endif %}
    {% include 'main/tours_cards.html' %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/map.js' %}"></script>
    <script>
        let destinations = {};
        {% for destination in countries %}
            destinations[{{ destination.pk }}] = {
                name: {{ destination.name | js_str }},
                url: "{% url 'destination' destination.region.slug destination.slug %}",
                form_ix: {{ forloop.counter0 }},
                title_pos: {
                    x: {{ destination.title_x | convert_None }},
                    y: {{ destination.title_y | convert_None }},
                    scale: {{ destination.title_scale | convert_None }},
                    rotation: {{ destination.title_rotation | convert_None }},
                    curve: {{ destination.title_curve | convert_None }}
                }
            };
        {% endfor %}

        let points = [];
        {% for point in points %}
            points.push({
                x: {% if point.template %}{{ point.template.x }}{% else %}{{ point.x }}{% endif %},
                y: {% if point.template %}{{ point.template.y }}{% else %}{{ point.y }}{% endif %},
                name: "{{ point.name }}",
                radius: {{ point.activation_radius }},
                size: {{ point.size }}
            })
        {% endfor %}
        let navbar_height = document.querySelector('.navbar').getBoundingClientRect().height;
        height = 0.8 * (document.documentElement.clientHeight - navbar_height);
        make_map_work(destinations, undefined, height, undefined, undefined, undefined, points);
    </script>
{% endblock %}
