{% extends 'main/main.html' %}
{% load static %}

{% block title %}
    {{ region.name }} Tours
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block content %}
    {% include 'main/map.html' with destinations=countries %}
    <hr>
    {{ region.tour_blurb | safe }}
    <hr>
    {% include 'main/tours_cards.html' %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/map.js' %}"></script>
    <script>
        let destinations = [];
        {% for country in countries %}
            destinations.push(["{{ country.name }}", "{% url 'tours' country.region.slug country.slug %}"]);
        {% endfor %}

        let points = [];
        {% for point in points %}
            points.push({
                x: {{ point.x }},
                y: {{ point.y }},
                name: "{{ point.name }}",
                radius: {{ point.activation_radius }},
                size: {{ point.size }}
            })
        {% endfor %}
        make_map_work(destinations, undefined, undefined, undefined, undefined, undefined, points);
    </script>
{% endblock %}
