{% load main_tags %}
<style>
    .{{ uid|default:"tour_cards" }} .text-card .card-body {
        min-height: {{ min_height|default:300 }}px;
    }
</style>

<div class="row {{ uid|default:"tour_cards" }}">
    {% for tour in tours %}
        {% if max_num is None or forloop.counter <= max_num %}
        <div class="d-flex flex-column tour-col {% if not two_col %}col-xl-4{% endif %} col-lg-6 col-md-12 g-0">
            <div start_date="{{ tour.start_date|date:'Y-m-d' }}"
                 end_date="{{ tour.end_date|date:'Y-m-d' }}"
                 price="{{ tour.price }}"
                 duration="{{ tour.duration }}"
                 keywords="{{ tour.keywords }}"
                 destinations="{% for destination in tour.destinations.all %}
                        {% if forloop.counter > 1 %} {% endif %}{{ destination.slug }}{% endfor %}"
                 hidden class="tour-data">
            </div>


            <div class="card order-2 text-card tour-text flex-grow-1 mx-2 d-flex flex-column"
                    {% if tour.state.border_color is not None %}
                 style="border-color: {{ tour.state.border_color }};
                         --card-border-width: 10px; "
                    {% endif %}>
                <div class="card-body flex-grow-1 d-flex flex-column">
                    <h5 class="tour-name">{{ tour.name }}</h5>
                    <div class="tour-excerpt flex-grow-1">
                        {{ tour.excerpt }}
                    </div>
                    <hr>
                <!--
                    <table class="table table-borderless">
                        <tr>
                            {% if tour.dated %}
                                <th class="table-icon"><i class="bi bi-calendar4-range"></i></th>
                                <td class="table-value">{{ tour.start_date }}</td>
                            {% endif %}
                            <th class="table-icon"><i class="bi bi-clock-history"></i></th>
                            <td class="table-value">{{ tour.duration }} day{% if tour.duration > 1 %}s{% endif %}</td>
                        </tr>
                        <tr>
                            <th class="table-icon"><i class="bi bi-coin"></i></th>
                            <td class="table-value">{{ settings.price_prefix }}{{ tour.price }}</td>
                            <th colspan="2">
                                <a href="{% url 'tour' tour.slug %}{% if parent %}?parent={{ parent }}{% endif %}" class="btn accent hoverable-accent">VIEW DETAILS</a>
                            </th>
                        </tr>
                    </table>
                -->
                    <div class="detail-table">
                        <div class="date">
                            {% if tour.dated %}<div><i class="bi table-icon bi-calendar4-range"></i></div><span>{{ tour.start_date }}</span>{% endif %}
                        </div>
                        <div class="duration"><div><i class="bi table-icon bi-clock-history"></i></div><span>{{ tour.duration }} day{% if tour.duration > 1 %}s{% endif %}</span></div>
                        <div class="price"><div><i class="bi table-icon bi-coin"></i></div><span>{{ settings.price_prefix }}{{ tour.price }}</span></div>
                        <div class="view">
                            <a href="{% url 'tour' tour.slug %}{% if parent %}?parent={{ parent }}{% endif %}" class="btn accent hoverable-accent">VIEW DETAILS</a>
                        </div>
                    </div>
{#                    <a class="stretched-link"#}
{#                       href="{% url 'tour' tour.slug %}{% if parent %}?parent={{ parent }}{% endif %}"></a>#}
                </div>
            </div>

            <div class="card order-1 img-title-card img-card mt-4 mx-2"
                    {% if tour.state.border_color is not None %}
                 style="border-color: {{ tour.state.border_color }};
                         --card-border-width: 10px;"
                    {% endif %}>
                <div class="img-card-contents">
                    <img src="{% downscaled_image tour.card_img %}" data-filename="{{ tour.card_img.name }}" class="card-img" alt="{{ tour.name }}">
                    <div class="card-img-overlay">
                        {% if tour.state is not None %}
                            <div class="state" style="background-color: {{ tour.state.color }};
                                    color: {{ tour.state.text_color }}">{{ tour.state.text }}</div>
                        {% endif %}
                    </div>
                </div>
                <a class="stretched-link" aria-label="View {{ tour.name }}"
                   href="{% url 'tour' tour.slug %}{% if parent %}?parent={{ parent }}{% endif %}"></a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>