{% extends 'main/main.html' %}
{% load static %}
{% load main_tags %}

{% block title %}
Tours
{% endblock %}

{% block extrahead %}
    <link href="{% static 'nouislider/nouislider_asdlj.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/tours.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/filters.css' %}" type="text/css" rel="stylesheet">
    <style>
        #filter-form .card, #filter-form .card-header {
            border: none;
            border-top: 1px solid lightgrey;
            border-radius: 0;
            box-shadow: none;
            background-color: transparent;
        }

        #filter-form .card-header {
            padding-top: 1rem;
            padding-bottom: 0;
        }

        #filter-form .card-header * {
            margin-bottom: 0;
        }

        #filter-form .card-body {
            padding-top: 1rem;
        }

        @media only screen and (max-width: 1199px) {
            #filter-form {
                display: none;
            }
        }

        /*
        .form-check-input:focus {
            border-color: var(--accent-hover-foreground);
            box-shadow: 0 0 .5rem var(--accent-foreground);
        }


        .form-check-input:checked {
            background-color: var(--accent-hover-foreground);
        }
         */
        .form-control:focus {
            box-shadow: 0 0 .3rem var(--accent-foreground);
        }

        #header-banner {
            width: 100%;
            height: 356px;
            object-fit: cover;
            position: absolute;
            object-position: 50% 30%;
            z-index: -1;
        }

        #header-content {
            height: 356px;
            position: relative;
            padding-left: 24px;
        }

        .header-subtitle {
            margin-bottom: 12px;
            color: #36bca1;
            font-family: "Caveat", sans-serif;
            font-weight: bold;
            font-size: 20px;
        }

        .breadcrumb {
            color: grey;
            width: max-content;
            white-space: nowrap;
        }

        .breadcrumb a {
            color: black;
            text-decoration: none;
        }

        .breadcrumb a:hover {
            color: var(--accent-hover-foreground);
        }

        #content-container {
            padding-top: 1rem !important;
        }
    </style>
{% endblock %}

{% block banner %}
    <img src="{% static 'images/tours_banner.jpg' %}" id="header-banner"/>
{% endblock %}

{% block content %}
    <div id="header-content" class="d-flex flex-column justify-content-between">
        <div class="breadcrumb"><a href="{% url 'front-page' %}">Home</a> <i class="bi bi-dot"></i> Tours</div>
        <div class="heading d-flex flex-column justify-content-center">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="section-title">Pick Your Best Experience
                    <div class="underline underline-left"></div>
                </h1>
            </div>
        </div>
        <div></div>
    </div>

    {% if grouped_tours %}
        <div id="progress-indicator">
            <div id="progress-bar"></div>
            <table id="progress-checkpoints">
                {% for year, year_tours in grouped_tours.items %}
                    {% for month in year_tours %}
                        <tr class="progress-indicator-checkpoint">
                            {% if forloop.counter0 == 0 %}
                                <td class="year-checkpoint">{{ year }}</td>
                            {% else %}
                                <td class="year-checkpoint hidden">{{ year }}</td>
                            {% endif %}
                            <td class="month-checkpoint"><a href="#title-{{ year }}-{{ month }}">{{ month | short_month_name }}</a></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-xl-8">
            {% if pretours.count > 0 %}
                {% include 'main/tours_cards.html' with two_col=True tours=pretours %}
            {% endif %}
            {% if grouped_tours %}
                {% for year, year_tours in grouped_tours.items %}
                    {% for month, month_tours in year_tours.items %}
                        {% if forloop.counter0 == 0 %}
                            <h1 class="year-title checkpoint-marker" year="{{ year }}" month="{{ month }}" id="title-{{ year }}-{{ month }}">{{ year }}</h1>
                        {% endif %}
                        <h3 class="month-title{% if forloop.counter0 != 0 %} checkpoint-marker" id="title-{{ year }}-{{ month }}" {% else %}" {% endif %}year="{{ year }}" month="{{ month }}">{{ month | month_name }}</h3>
                        {% include 'main/tours_cards.html' with two_col=True tours=month_tours %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% if posttours.count > 0 %}
                {% include 'main/tours_cards.html' with two_col=True tours=posttours %}
            {% endif %}
            {% if tours.count > 0 %}
                {% include 'main/tours_cards.html' with two_col=True %}
            {% endif %}
        </div>
        <div class="col-4" id="filter-form">
            <form>
                <div class="row m-3">
                    <div class="input-group search-bar">
                        <input id="search-input" type="text" class="form-control" placeholder="Search"
                               aria-label="Search" {% if query %}value="{{ query }}"{% endif %}>
                        <span class="input-group-text"><i class="bi bi-search"></i></span>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h5>Destinations</h5>
                            </div>
                            <div class="card-body">
                                {% for destination in destinations %}
                                    <div class="formcheck">
                                        <input class="form-check-input destination-checkbox" type="checkbox" value=""
                                               id="filter-destination-{{ destination.slug }}" checked>
                                        <label class="form-check-label" for="filter-destination-{{ destination.slug }}">
                                            {{ destination.name }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h5>Date Range</h5>
                            </div>
                            <div class="card-body" id="date-selection">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="date-start-input"
                                           placeholder="Start Date">
                                    <span class="input-group-text">-</span>
                                    <input class="form-control" type="text" id="date-end-input" placeholder="End Date">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col">
                        <div class="card allow-overflow">
                            <div class="card-header">
                                <h5>Duration</h5>
                            </div>
                            <div class="card-body" id="duration-selection">
                                <label for="duration-input" hidden>Duration</label>
                                <div id="duration-input" class="mt-5"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col">
                        <div class="card allow-overflow">
                            <div class="card-header">
                                <h5>Price</h5>
                            </div>
                            <div class="card-body" id="price-selection">
                                <label for="price-input" hidden>Price</label>
                                <div id="price-input" class="mt-5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
    <script src="{% static 'js/fuse.js' %}"></script>
    <script src="{% static 'nouislider/nouislider.js' %}"></script>
    <script src="{% static 'js/tours.js' %}"></script>
{% endblock %}