{% extends 'main/main.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/tour.css' %}">
{% endblock %}

{% block banner %}
    {% if request.user.is_staff %}
        <button id="editor-button" class="btn btn-outline-secondary d-inline-flex align-items-center"
                data-bs-toggle="offcanvas"
                data-bs-target="#editor-offcanvas" aria-controls="editor-offcanvas" role="button"
                style="float: left; position: sticky; margin: 50px; top: 200px;">
            <span class="bi bi-pencil" style="font-size: 1.5rem"></span> <span style="margin-left: 4px;">Edit</span>
        </button>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="editor-toolbar"></div>
    <div class="heading d-flex justify-content-between align-items-center">
        <h1 class="display-1" id="title">{{ tour }}</h1>
        <a href="{% url 'contact' %}?subject=Inquiry about {{ tour }}">
            <button class="btn btn-primary d-inline-flex align-items-center" role="button"
                    style="float: right; border-radius: 20px;">
                <span class="bi bi-chat-left-dots" style="font-size: 1.5rem"></span> <span style="margin-left: 10px;">Inquire Now</span>
            </button>
        </a>
    </div>
    <div class="row" id="tour-details">
        <div class="col-lg-3 col-md-12 g-2">
            <div class="card">
                <div class="card-header">
                    Start Date
                </div>
                <div class="card-body" id="start-date">
                    {{ tour.start_date }}
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 g-2">
            <div class="card">
                <div class="card-header">
                    End Date
                </div>
                <div class="card-body" id="end-date">
                    {{ tour.end_date }}
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 g-2">
            <div class="card">
                <div class="card-header">
                    Duration
                </div>
                <div class="card-body">
                    <span id="duration">{{ tour.duration }}</span> days
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 g-2">
            <div class="card">
                <div class="card-header">
                    Price
                </div>
                <div class="card-body">
                    {{ settings.price_prefix }}<span id="price">{{ tour.price }}</span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="tour-desc">
        {{ tour.description | safe }}
    </div>
    <hr>
    {% include 'main/itinerary-slider.html' with itinerary=tour.itinerary.all %}
    <hr>
    <h6 class="display-6">Other Tours</h6>
    {% include 'main/tours_cards.html' with tours=tour.close_tours %}

    {% if request.user.is_staff %}
        <div class="offcanvas offcanvas-start" tabindex="-1" id="editor-offcanvas">
            <form style="margin: 20px;" method="post" enctype="multipart/form-data">
                {% bootstrap_form_errors form %}
                {% bootstrap_formset_errors itinerary_forms %}
                {% csrf_token %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="editing">
                    <label class="form-check-label" for="editing">
                        In-place editing
                    </label>
                </div>
                {% bootstrap_form form %}
                <div hidden>
                    {% bootstrap_formset itinerary_forms %}
                </div>
                <button class="btn btn-primary accent hoverable-accent">Submit Changes</button>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    {% if request.user.is_staff %}
        <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
        <script src="https://cdn.ckeditor.com/4.16.2/standard-all/ckeditor.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/luxon@2/build/global/luxon.min.js"></script>
        <script src="{% static 'js/tour_editing.js' %}"></script>
    {% endif %}
{% endblock %}
