<div class="row">
    {% for tour in tours %}
        <div class="d-flex flex-column tour-col col-xl-4 col-md-6 col-sm-12 g-0">
            <div start_date="{{ tour.start_date|date:'Y-m-d' }}"
                 end_date="{{ tour.end_date|date:'Y-m-d' }}"
                 price="{{ tour.price }}"
                 duration="{{ tour.duration }}"
                 destinations="




                         {% for destination in tour.destinations.all %}{% if forloop.counter > 1 %} {% endif %}{{ destination.slug }}{% endfor %}"
                 hidden class="tour-data">
            </div>

            <div class="card img-title-card img-card mt-4 mx-4"
                    {% if tour.state.border_color is not None %}
                 style="border-color: {{ tour.state.border_color }}"
                    {% endif %}>
                <img src="{{ tour.card_img.url }}" class="card-img" alt="{{ tour.name }}">
                <div class="card-img-overlay">
                    <h5 class="card-title">{{ tour.name }}</h5>
                    {% if tour.state is not None %}
                        <div class="state" style="background-color: {{ tour.state.color }};
                                color: {{ tour.state.text_color }}">{{ tour.state.text }}</div>
                    {% endif %}
                </div>
                <a class="stretched-link" href="{% url 'tour' tour.slug %}"></a>
            </div>

            <div class="card text-card tour-text flex-grow-1 mx-4"
                    {% if tour.state.border_color is not None %}
                 style="border-color: {{ tour.state.border_color }};"
                    {% endif %}>
                <div class="card-body">
                    {{ tour.excerpt }}
                </div>
                <div class="card-footer">
                    <table class="table table-borderless">
                        <tr>
                            <th class="table-icon"><i class="bi bi-calendar4-range"></i></th>
                            <td class="table-value">{{ tour.start_date }} - {{ tour.end_date }}</td>
                        </tr>
                        <tr>
                            <th class="table-icon"><i class="bi bi-clock-history"></i></th>
                            <td class="table-value">{{ tour.duration }} days</td>
                        </tr>
                        <tr>
                            <th class="table-icon"><i class="bi bi-coin"></ic></th>
                            <td class="table-value">{{ settings.price_prefix }}{{ tour.price }}</td>
                        </tr>
                    </table>
                    <a class="stretched-link" href="{% url 'tour' tour.slug %}"></a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>