.card {
    border-top-right-radius: 0;
    box-shadow: 5px 5px 10px darkgrey;
}

img {
    max-width: 200px;
    transition: all 0.5s;
}

.img-container {
    max-width: 200px;
    overflow: hidden;
}

.article-date {
    padding: 15px;
    height: min-content;
    border-bottom-left-radius: 30px;
    box-shadow: 3px 3px 8px lightgrey;
}

.article-card:hover div div img {
    transform: scale(1.2);
}