.row.author .card {
    width: clamp(33%, 70ch, 100%);
    container-type: inline-size;
    container-name: author-card;
}

.row.author .card img {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

@container author-card (max-width: 50ch) {
    .row.author .card .card-body {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

}

