.banner-img.hide {
    opacity: 0;
}

.banner-img.hide-right {
    left: 100%;
}

.banner-img.hide-left {
    left: -100%;
}

.banner-img.show {
    opacity: 1;
}

.banner-img.left {
    left: -100%;
    z-index: -1;
    visibility: hidden;
}

.banner-img.right {
    left: 100%;
    z-index: -2;
}

.banner-img.below {
    z-index: -10;
}

.banner-img {
    user-select: none;
    z-index: 5;
}

.banner-text {
    user-select: none;
    z-index: 10;
}

:root {
    --banner-text-transparency: rgba(0, 0, 0, 60%);
    --banner-text-background: black;
    --banner-text-margin: 300px;
    --banner-text-fade: 30%;
}

.banner-text-background {
    width: calc(100% + var(--banner-text-margin));
    height: calc(100% + var(--banner-text-margin));
    position: absolute;
    left: calc(-1 * var(--banner-text-margin) / 2);
    top: calc(-1 * var(--banner-text-margin) / 2);
    background: var(--banner-text-background);
    mask-image: linear-gradient(to right, transparent 0, var(--banner-text-transparency) var(--banner-text-fade), var(--banner-text-transparency) calc(100% - var(--banner-text-fade)), transparent 100%),
    linear-gradient(to bottom, transparent 0, var(--banner-text-transparency) var(--banner-text-fade), var(--banner-text-transparency) calc(100% - var(--banner-text-fade)), transparent 100%);
    mask-composite: intersect;
    -webkit-mask-image: linear-gradient(to right, transparent 0, var(--banner-text-transparency) var(--banner-text-fade), var(--banner-text-transparency) calc(100% - var(--banner-text-fade)), transparent 100%),
    linear-gradient(to bottom, transparent 0, var(--banner-text-transparency) var(--banner-text-fade), var(--banner-text-transparency) calc(100% - var(--banner-text-fade)), transparent 100%);
    -webkit-mask-composite: destination-in;
    z-index: -50;
}