h5.card-title {
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    position: absolute;
    bottom: 4%;
    left: 6%;
    width: 88%;
    text-outline: 2px rgba(0, 0, 0, 0.2);
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.2);
}

.card {
    position: relative;
    border-radius: var(--border-radius);
    /*box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);*/
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.08);
}

.card:not(.allow-overflow) {
    overflow: hidden;
}

:root {
    --card-border-width: 13px;
}

.img-title-card {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: solid white;
    border-width: var(--card-border-width) var(--card-border-width) 0 var(--card-border-width);
}

.text-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: solid white;
    border-width: 0 var(--card-border-width) var(--card-border-width) var(--card-border-width);
    z-index: 1;
}

/*
.text-card .card-body {
    min-height: 300px;
}
 */

.text-card .card-footer table tr td {
    word-wrap: anywhere;
}

.card-img-overlay {
    /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.7));*/
    border-radius: inherit;
    padding-right: 0;
}

.img-card-contents {
    border-bottom-left-radius: calc(var(--border-radius) - var(--card-border-width));
    border-bottom-right-radius: calc(var(--border-radius) - var(--card-border-width));
    overflow: hidden;
}

.img-card img {
    transition: transform .5s;
    aspect-ratio: 1.5;
}

.img-card img[data-full-size-loaded="true"] {
    transition: transform .5s, filter var(--blur-transition) ease-in-out;
}

.img-card-contents img {
    position: absolute;
    top: 0;
    height: 100%;
}

.img-card-contents {
    background: var(--accent-background);
    padding-top: 66.66666666666666666666667%;
    position: relative;
}

.text-card:hover ~ .img-card img, .img-card:hover img {
    transform: scale(1.2);
}

.table-icon {
    text-align: left;
    font-size: 2em;
    width: 1%;
    color: var(--accent-foreground);
}

.table-value {
    vertical-align: middle;
}

.article-state {
    position: absolute;
    top: 1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3px 15px;
}

.state {
    float: right;
    /*box-shadow: 5px 5px 15px #2c2c2c;*/
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 3px 15px;
    margin-right: calc(-1 * var(--card-border-width));
}

.card hr {
    color: darkgrey;
}

.tour-name {
    font-weight: bold;
}

.text-card .card-body .tour-excerpt {
    font-size: 0.875rem;
    color: darkgrey;
    text-align: justify;
}

.card .table, .card hr {
    margin-bottom: 0;
}

.card .btn {
    white-space: nowrap;
}

.btn.hoverable-accent:hover {
    background-color: var(--accent-hover-background);
    color: var(--accent-hover-foreground);
}

.card .btn {
    border-radius: 100px;
}

.detail-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "date duration"
        "price view";
    gap: 10px;
    padding: 10px;
}

.detail-table div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

@media screen and (max-width: 500px) {
    .detail-table div {
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .detail-table .view {
        justify-content: start;
        padding-top: 10px;
    }
}

.detail-table .date {
    grid-area: date;
}

.detail-table .duration {
    grid-area: duration;
}

.detail-table .price {
    grid-area: price;
}

.detail-table .view {
    grid-area: view;
}

@media screen and (max-width: 600px) {
    .card .table {
        /*font-size: 4vw;*/
    }
}
