h5.card-title {
    font-size: 1.9vw;
    font-weight: bolder;
    color: white;
    position: absolute;
    bottom: 4%;
    left: 6%;
    width: 88%;
}

.card {
    position: relative;
    border-radius: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.card:not(.allow-overflow) {
    overflow: hidden;
}

.img-title-card {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: solid white;
    border-width: 10px 10px 0 10px;
}

.text-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: solid white;
    border-width: 0 10px 10px 10px;
    z-index: 1;
}

/*
.text-card .card-body {
    min-height: 300px;
}
 */

.text-card .card-footer table tr td {
    word-wrap: anywhere;
}

.card-img-overlay {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.7));
    border-radius: inherit;
}

.img-card img {
    transition: transform .5s, filter 0.5s ease-in-out;
}

.text-card:hover ~ .img-card img, .img-card:hover img {
    transform: scale(1.2);
}

.table-icon {
    text-align: left;
    font-size: 2em;
    width: 1%;
}

.table-value {
    vertical-align: middle;
}

.state {
    float: right;
    box-shadow: 5px 5px 15px #2c2c2c;
    border-radius: 100px;
    padding: 3px 15px;
}