h5.card-title {
    font-size: 1.9vw;
    font-weight: bolder;
    color: white;
    position: absolute;
    bottom: 4%;
    left: 6%;
    width: 88%;
}

.card {
    position: relative;
    border-radius: 30px;
    border: 5px solid white;
    box-shadow: 4px 4px 5px lightgrey;
}

.card:not(.allow-overflow) {
    overflow: hidden;
}

.card-header:first-child {
    border-radius: 30px;
}

.img-title-card {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.text-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-img-overlay {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.7));
    border-radius: inherit;
}

.img-card img {
    border-radius: inherit;
    transition: transform .5s, filter 0.5s ease-in-out;
    filter: blur(1px);
}

.img-card:hover img {
    transform: scale(1.2);
    filter: blur(0);
}