#header-banner {
    width: 100%;
    height: 356px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    left: 0;
    object-position: calc(var(--banner-x) * 1%) calc(var(--banner-y) * 1%);
}

#header-content {
    height: 356px;
    position: relative;
}

#header-content .section-title {
    text-align: left;
}

.header-subtitle {
    margin-bottom: 12px;
    color: #36bca1;
    font-family: "Caveat", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.breadcrumb {
    color: grey;
}

.breadcrumb a {
    color: black;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: var(--accent-hover-foreground);
}

#content-container {
    padding-top: 1rem !important;
}

#content {
    position: unset !important;
}
