* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: 30px auto auto;
}

.slides {
  overflow: hidden;
  margin-bottom: -30px;
  mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
  /*noinspection CssInvalidPropertyValue*/
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
  -webkit-mask-composite: destination-in;
}

.mySlides {
  width: 80%;
}

.mySlides.compact {
  max-height: 450px;
}

.mySlides.compact .card-body {
  mask-image: linear-gradient(to bottom, transparent 0%, transparent calc(80vh - 2em), white 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 0%, black calc(450px - 100px - 20em), transparent calc(450px - 100px - 4em), transparent 100%);
}

.mySlides.compact .expand-itinerary, .contract-itinerary {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px;
}

.mySlides:not(.compact) .expand-itinerary {
  display: none;
}

.mySlides:not(.expanded) .contract-itinerary {
  display: none;
}

.mySlides:is(.compact, .expanded) {
  padding-bottom: 3em;
}

:root {
  --slider-button-width: 15%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: var(--slider-button-width);
  margin-top: -4px;
  padding: 16px;
  color: var(--accent-background);
  font-weight: bolder;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  height: 100%;
  top: 0;
}

/* Position the "next button" to the right */
.next {
  left: calc(100% - var(--slider-button-width));
  border-radius: 3px 0 0 3px;
}

.prev > i {
  float: left;
}

.next > i {
  float: right;
}

.prev > i, .next > i {
  top: 50%;
  position: relative;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: var(--accent-hover-background);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #717171;
}

.mySlides {
  transition: left 1s;
}

.dot-container {
  text-align: center;
  margin: 20px;
  padding-bottom: 20px;
}

hr {
  top: 10px;
  position: relative;
}

.itinerary-date {
  font-size: 0.5em;
  opacity: 0.8;
  margin-left: 1em;
}

.mySlides .card-header {
  background-color: var(--accent-background);
  color: var(--accent-foreground);
}