html, body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    position: relative;
    scroll-behavior: smooth;
}

.banner {
    height: calc(100% - var(--navbar-height) - 6px);
}

.banner-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    animation: all 1s;
}

.banner-text {
    position: absolute;
    z-index: 1;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 40em;
    color: white;
}

.banner-text > h1 {
    margin-bottom: 2rem;
    line-height: 0.8;
    --outline-width: 3px;
    --outline-opacity: 0.2;
    text-outline: var(--outline-width) rgba(0, 0, 0, var(--outline-opacity));
    -webkit-text-stroke: var(--outline-width) rgba(0, 0, 0, var(--outline-opacity));
    /*text-outline: var(--outline-width) rgba(255, 255, 255, var(--outline-opacity));*/
    /*-webkit-text-stroke: var(--outline-width) rgba(255, 255, 255, var(--outline-opacity));*/
    font-size: 7rem;
}

.section-title {
    font-family: 'Burford Base', sans-serif;
    /*font-weight: bold;*/
    text-align: center;
    /*margin-top: 10rem;*/
    font-size: 6rem;
    color: var(--accent-foreground);
    text-outline: 2px rgba(0, 0, 0, 0.2);
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
    .banner-text > h1 {
        font-size: 20vw;
    }

    .section-title {
        font-size: 15vw;
    }
}

#content-container {
    margin-top: 0;
    height: min-content;
    overflow: visible;
}

.hide {
    display: none !important;
}

.hide-visually {
    opacity: 0;
}

small {
    font-size: 40px;
}

.alert {
    z-index: 100;
}

.accent {
    background-color: var(--accent-background);
    color: var(--accent-foreground);
    border-color: var(--accent-background);
}

.hoverable-accent:hover {
    background-color: var(--accent-hover-background);
    color: var(--accent-hover-foreground);
    border-color: var(--accent-hover-background);
}

.hoverable-accent:focus {
    background-color: var(--accent-hover-background);
    color: var(--accent-hover-foreground);
    border-color: var(--accent-hover-background);
}

.offcanvas {
    z-index: 9998;
    overflow: scroll;
}

a.nice-link {
    text-decoration: none;
    border-bottom: 2px dashed var(--accent-foreground);
    color: var(--accent-foreground);
    cursor: pointer;
}

a.nice-link:hover {
    border-bottom: 2px dashed var(--accent-hover-foreground);
    color: var(--accent-hover-foreground);
}

body * {
    scroll-margin-top: calc(var(--navbar-height) + 20px);
}

.wide-bg {
    height: 100%;
    position: relative;
    /*padding-bottom: 10rem;*/
    /*padding-top: 10rem;*/
    margin-top: 0;
    margin-bottom: 0;
    --row-height: 500px;
    min-height: var(--row-height);
    vertical-align: center;
}

.wide-bg:before {
    content: "";
    background: var(--background);
    position: absolute;
    top: 0;
    height: inherit;
    width: 4000px;
    left: -2000px;
    z-index: -1;
    min-height: var(--row-height);
}

.display-1, .navbar-brand {
    font-family: 'Burford Rustic Book', sans-serif;
    color: var(--accent-foreground);
    letter-spacing: -10px;
    /*font-weight: 700 !important;*/
}


/*.section-title > div.underline {*/
/*    content: var(--underline);*/
/*    text-align: center;*/
/*    position: relative;*/
/*    left: 50%;*/
/*    top: 0.8em;*/
/*    margin-bottom: 5rem;*/
/*    transform: translateX(-50%);*/
/*}*/

/*.section-title > div.underline.underline-left {*/
/*    left: 0;*/
/*    transform: none;*/
/*}*/

.center-align-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100rem;
}

.front-page-row > h1 {
    /*margin-bottom: 32px;*/
    padding-top: 4rem;
}

.separator {
    width: 100%;
    position: absolute;
    left: 0;
}

.separator path {
    transform: translateX(-25px);
    transition: all 2s ease-in-out;
}

/*.post-separator {*/
/*     transform: translateY(5rem);*/
/* }*/

.pre-separator {
    transform-origin: top;
    transform: translateY(1px) rotateX(180deg);
}

.post-separator {
    transform: translateY(-1px);
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    /*background: #f1f1f1;*/
    background: var(--accent-background);
}

::-webkit-scrollbar-thumb {
    /*background: #888;*/
    background: var(--accent-foreground);
}

::-webkit-scrollbar-thumb:hover {
    /*background: #555;*/
    background: var(--accent-hover-foreground);
}

.spinner {
    position: fixed;
    z-index: 999999999999999999999999999999;
    left: 50vw;
    transform: translate(-50%, -50%);
    top: 50vh;
    height: 80px;
    width: 80px;
}

.spinner .lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.spinner .lds-ripple div {
  position: absolute;
  border: 4px solid #ffffff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.spinner .lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.fade-backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
}

.loader:not(.active) {
    visibility: hidden;
    pointer-events: none;
}

.text-muted {
    letter-spacing: -5px;
}

#messages-container {
    position: sticky;
    --alert-margin: 5px;
    top: calc(var(--navbar-height) + var(--alert-margin) + 1px);
    z-index: 9999;
}

#messages-container .alert {
    margin: var(--alert-margin);
    opacity: 0.9;
}

.form-control {
    border: none;
    background: rgba(0, 0, 0, 1%);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 10%);
}

.form-control:focus {
    box-shadow: none;
    background: rgba(0, 0, 0, 3%);
    transition: background-color 1s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 10%);
}

form div.mb-3 {
    overflow-x: hidden;
}

form div.mb-3::after {
    width: 0;
    height: 100%;
    border: 1px solid var(--accent-foreground);
    content: "";
    display: block;
    transition: width 1s ease-in-out;
    left: -5px;
    position: relative;
    top: -2px;
}

form div.mb-3:hover::after {
    width: 20%;
    border: 1px solid var(--accent-foreground);
}

form div.mb-3:focus-within::after {
    width: calc(100% + 5px);
    border: 1px solid var(--accent-foreground);
}

.form-control::file-selector-button {
    background-color: var(--accent-background);
    border: none;
    color: var(--accent-foreground);
    cursor: pointer;
}

.form-control:hover::file-selector-button {
    background-color: var(--accent-hover-background) !important;
    color: var(--accent-hover-foreground);
}
