html, body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    position: relative;
}

.banner {
    position: relative;
    height: 700px;
}

.banner-img {
    width: 100%;
    height: 700px;
    position: absolute;
}

.banner-text {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 20%;
    color: white;
}

#content-container {
    margin-top: 20px;
    height: min-content;
    overflow: visible;
}

.hide {
    display: none !important;
}

.hide-visually {
    opacity: 0;
}