html, body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    position: relative;
    scroll-behavior: smooth;
}

.banner {
    height: calc(100% - var(--navbar-height) - 6px);
}

.banner-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    animation: all 1s;
}

.banner-text {
    position: absolute;
    z-index: 1;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 40em;
    color: white;
}

.banner-text > h1 {
    margin-bottom: 2rem;
    line-height: 0.9;
    letter-spacing: -2px;
    font-size: 5rem;
}

#content-container {
    margin-top: 0;
    height: min-content;
    overflow: visible;
}

.hide {
    display: none !important;
}

.hide-visually {
    opacity: 0;
}

small {
    font-size: 40px;
}

.alert {
    z-index: 100;
}

.accent {
    background-color: var(--accent-background);
    color: var(--accent-foreground);
    border-color: var(--accent-background);
}

.hoverable-accent:hover {
    background-color: var(--accent-hover-background);
    color: var(--accent-hover-foreground);
    border-color: var(--accent-hover-background);
}

.hoverable-accent:focus {
    background-color: var(--accent-hover-background);
    color: var(--accent-hover-foreground);
    border-color: var(--accent-hover-background);
}

.offcanvas {
    z-index: 9998;
    overflow: scroll;
}

a.nice-link {
    text-decoration: none;
    border-bottom: 2px dashed var(--accent-foreground);
    color: var(--accent-foreground);
    cursor: pointer;
}

a.nice-link:hover {
    border-bottom: 2px dashed var(--accent-hover-foreground);
    color: var(--accent-hover-foreground);
}

body * {
    scroll-margin-top: calc(var(--navbar-height) + 20px);
}

.wide-bg {
    height: 100%;
    position: relative;
    padding-bottom: 10rem;
    padding-top: 10rem;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 500px;
    vertical-align: center;
}

.wide-bg:before {
    content: "";
    background: var(--background);
    position: absolute;
    top: 0;
    height: inherit;
    width: 4000px;
    left: -2000px;
    z-index: -1;
    min-height: 500px;
}

.display-1, .navbar-brand {
    font-family: 'Caveat', sans-serif;
    font-weight: 700 !important;
}

.section-title {
    font-family: 'Poppin', sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 2rem;
    /*margin-top: 10rem;*/
    font-size: 2.2rem;
}

.section-title > div.underline {
    content: var(--underline);
    text-align: center;
    position: relative;
    left: 50%;
    top: 0.8em;
    margin-bottom: 5rem;
    transform: translateX(-50%);
}

.section-title > div.underline.underline-left {
    left: 0;
    transform: none;
}

.center-align-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100rem;
}

.front-page-row > h1 {
    /*margin-bottom: 32px;*/
    padding-top: 100px;
}

.separator {
    width: 100%;
    position: absolute;
    left: 0;
}

/*.post-separator {*/
/*     transform: translateY(5rem);*/
/* }*/

.pre-separator {
    transform-origin: top;
    transform: rotateX(180deg);
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    /*background: #f1f1f1;*/
    background: var(--accent-background);
}

::-webkit-scrollbar-thumb {
    /*background: #888;*/
    background: var(--accent-foreground);
}

::-webkit-scrollbar-thumb:hover {
    /*background: #555;*/
    background: var(--accent-hover-foreground);
}