html, body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    position: relative;
}

.banner {
    height: 100%;
}

.banner-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    animation: all 1s;
}

.banner-text {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 20%;
    color: white;
}

#content-container {
    margin-top: 20px;
    height: min-content;
    overflow: visible;
}

.hide {
    display: none !important;
}

.hide-visually {
    opacity: 0;
}

small {
    font-size: 40px;
}

.alert {
    z-index: 100;
}

.accent {
    background-color: var(--accent-background);
    color: var(--accent-foreground);
    border-color: var(--accent-background);
}

.hoverable-accent:hover {
    background-color: var(--accent-hover-background);
    color: var(--accent-hover-foreground);
    border-color: var(--accent-hover-background);
}

.hoverable-accent:focus {
    background-color: var(--accent-hover-background);
    color: var(--accent-hover-foreground);
    border-color: var(--accent-hover-background);
}

.offcanvas {
    z-index: 9998;
}

a {
    text-decoration: none;
    color: var(--accent-foreground);
}

a:hover {
    color: var(--accent-hover-foreground);
}

body * {
    scroll-margin-top: calc(var(--navbar-height) + 20px);
}

.wide-bg {
    background-color: var(--background);
    height: calc(100% + 5rem);
    position: relative;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -1.5rem;
    min-height: 500px;
    text-align: center;
    vertical-align: center;
}

.wide-bg:before {
    content: "";
    background-color: var(--background);
    position: absolute;
    top: -0.5rem;
    height: calc(100% + 0.5rem);
    width: 4000px;
    left: -2000px;
    z-index: -1;
    min-height: 500px;
}
