:root {
    --map-fade: 10%;
}

object, .map svg {
    width: 100%;
    height: auto;
    mask-image: linear-gradient(to right, transparent 0%, white var(--map-fade), white calc(100% - var(--map-fade)), transparent 100%),
    linear-gradient(to bottom, transparent 0%, white var(--map-fade), white calc(100% - var(--map-fade)), transparent 100%);
    mask-composite: intersect;
    -webkit-mask-image: linear-gradient(to right, transparent 0%, white var(--map-fade), white calc(100% - var(--map-fade)), transparent 100%),
    linear-gradient(to bottom, transparent 0%, white var(--map-fade), white calc(100% - var(--map-fade)), transparent 100%);
    -webkit-mask-composite: destination-in;
}

/*
g.available {
    fill: var(--accent-background);
}
*/

path.available:not(:hover) {
    transition: all 2s;
}

path.available:hover {
    fill: var(--accent-hover-background);
    transition: all 0.2s;
    cursor: pointer;
}

.pre-load {
    visibility: hidden;
}

#delete-stop, #create-stop {
    font-size: 2em;
    cursor: pointer;
    transition: all 0.5s;
}

#delete-stop {
    color: red;
}

#delete-stop:hover {
    color: darkred;
}

#create-stop {
    color: #00d500;
}

#create-stop:hover {
    color: darkgreen;
}

.alt-context-menu a {
    color: black;
    text-decoration: none;
}

li.alt-context-menu:hover {
    cursor: pointer;
}

#country-labels text tspan {
    pointer-events: none;
    display: none;
}

.pointer, .pointer-text {
    pointer-events: none;
}