:root {
    --map-fade: 10%;
}

object, svg {
    width: 100%;
    height: auto;
    mask-image: linear-gradient(to right, transparent 0%, white var(--map-fade), white calc(100% - var(--map-fade)), transparent 100%),
    linear-gradient(to bottom, transparent 0%, white var(--map-fade), white calc(100% - var(--map-fade)), transparent 100%);
    mask-composite: intersect;
}

/*
g.available {
    fill: var(--accent-background);
}
*/

path.available:not(:hover) {
    transition: all 2s;
}

path.available:hover {
    fill: var(--accent-hover-background);
    transition: all 0.2s;
    cursor: pointer;
}

.pre-load {
    visibility: hidden;
}
