:root {
    --map-fade: 10%;
}

object, svg {
    width: 100%;
    height: auto;
    mask-image: linear-gradient(to right, transparent 0%, black var(--map-fade), black calc(100% - var(--map-fade)), transparent 100%),
    linear-gradient(to bottom, transparent 0%, black var(--map-fade), black calc(100% - var(--map-fade)), transparent 100%);
    mask-composite: intersect;
}

/*
g.available {
    fill: var(--accent-background);
}
*/

g.available:not(:hover) {
    transition: all 2s;
}

g.available:hover {
    fill: var(--accent-hover-background);
    stroke: darkgrey;
    stroke-width: 1px;
    transition: all 0.1s;
    cursor: pointer;
}

.pre-load {
    visibility: hidden;
}
