.hello-msg {
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
}

.main-nav {
    font-size: 1.8em;
}

.navbar {
    box-shadow: 0 2px 10px grey;
    background: white;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}

.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}
