.hello-msg {
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
}

.main-nav {
    font-size: 1.8em;
}

.navbar {
    box-shadow: 0 2px 10px grey;
    background: white;
    padding-bottom: 0;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    position: absolute;
    left: 100%;
    top: 0;
}

.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    top: 0;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 3px 3px 8px lightgrey;
    transition: all 1s;
    top: 100%;
    font-size: 18px;
    line-height: 2;
    min-width: 100%;
}

.dropdown {
    margin-bottom: 0;
}

.dropdown-item .bi-caret-right-fill {
    float: right;
}

.dropdown-menu > li:last-child > .dropdown-item {
    border-bottom-left-radius: 8px;
}

.dropdown-menu > li:first-child > .dropdown-item {
    border-top-right-radius: 8px;
}
