.main-nav {
    font-size: 0.9rem;
    height: min-content;
    font-weight: bold;
    color: #123a32 !important;
    padding: 2.3rem 0;
}

.navbar-contact {
    font-weight: normal;
}

.nav-item:hover > * {
    color: var(--accent-hover-background) !important;
}

.navbar {
    background: var(--accent-background);
    z-index: 1000;
}

.navbar > .container {
    padding: 0 5rem;
}

.navbar .dropdown-menu li {
    position: relative;
}

.navbar .dropdown-menu .dropdown-submenu {
    position: absolute;
    left: 100%;
    top: 0;
}

.navbar .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    top: 0;
    opacity: 1;
    transform: translateY(0) rotateX(0);
}

.navbar .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
    opacity: 1;
    transform: translateY(0) rotateX(0);
}

.navbar .dropdown-menu {
    /*box-shadow: 3px 3px 8px lightgrey;*/
    /*box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);*/
    transition: all 0.2s;
    top: var(--navbar-menu-height);
    font-size: 1rem;
    position: relative;
    display: block;
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
    transform-origin: 0 0;
    z-index: -10000;
}

.navbar .dropdown {
    margin-bottom: 0;
}

.navbar .dropdown-item .bi-caret-right-fill {
    margin-left: 30px;
}

.navbar .dropdown-menu > li:last-child > .dropdown-item {
    border-bottom-left-radius: calc(var(--border-radius) / 2);
}

.navbar .dropdown-menu > li:first-child > .dropdown-item {
    border-top-right-radius: calc(var(--border-radius) / 2);
}

@media only screen and (max-width: 1199px) {
    .navbar .dropdown-menu {
        display: none !important;
    }

    .navbar .main-nav.dropdown-toggle {
        display: none !important;
    }

    .navbar .main-nav.nav-link {
        width: 100%;
    }

    .navbar .navbar-nav {
        position: relative !important;
    }

    #separate-contact {
        display: none;
    }

    #inline-contact {
        display: block !important;
    }

    .nav-item > .main-nav.nav-link i.bi-chevron-down {
        display: none;
    }

    .main-nav {
        padding: 1rem 0;
    }

    .navbar > .container {
        padding: 0 1rem;
    }
}

.dropdown-toggle-split {
    display: none !important;
}

#navbarNav {
    position: relative;
    height: 100%;
}

#inline-contact {
    display: none;
}

.navbar .nav-item {
    white-space: nowrap;
    margin: 0 0.2em;
}

.navbar .navbar-brand {
    color: var(--accent-foreground) !important;
    font-size: 1.1em;
}

.navbar .navbar-brand:hover {
    color: var(--accent-hover-foreground) !important;
}

#separate-contact a {
    color: var(--accent-foreground);
}

#separate-contact:hover a {
    color: var(--accent-hover-foreground);
}

.navbar .logo {
    max-height: calc(0.5 * var(--navbar-height));
    margin-bottom: calc(-0.5 * var(--navbar-height));
    margin-top: calc(-0.5 * var(--navbar-height));
}

:root {
    --navbar-height: 106px;
    --navbar-menu-height: 40px;
}

.dropdown-item:hover {
    color: var(--accent-hover-background);
    background-color: transparent;
}

.navbar-toggler {
    padding-bottom: 2rem;
    padding-top: 2rem;
    border: none !important;
    box-shadow: none !important;
}

.bi-chevron-down {
    font-size: 0.7em;
}

.bi-chevron-right {
    padding-left: 1rem;
}

.nav-link {
    color: var(--accent-foreground);
}