.main-nav {
    font-size: 0.9rem;
    height: min-content;
    font-weight: bold;
    color: #123a32 !important;
    padding: 2.3rem 0;
}

.navbar-contact {
    font-weight: normal;
}

.nav-item:hover > a, .nav-item:hover > span {
    color: var(--accent-hover-background) !important;
}

.navbar .dropdown-menu li {
    position: relative;
}

.navbar .dropdown-menu .dropdown-submenu {
    position: absolute;
    left: 100%;
    top: 0;
}

.navbar .dropdown-menu > li:hover > .dropdown-submenu:has(li) {
    display: block;
    top: 0;
    opacity: 1;
    transform: translateY(0) rotateX(0);
}

.navbar .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
    opacity: 1;
    transform: translateY(0) rotateX(0);
}

.navbar .dropdown-menu {
    /*box-shadow: 3px 3px 8px lightgrey;*/
    /*box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);*/
    transition: all 0.2s;
    top: var(--navbar-menu-height);
    font-size: 1rem;
    position: relative;
    display: block;
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
    transform-origin: 0 0;
    z-index: -10000;
}

.navbar .dropdown {
    margin-bottom: 0;
}

.navbar .dropdown-item .bi-caret-right-fill {
    margin-left: 30px;
}

.navbar .dropdown-menu > li:last-child > .dropdown-item {
    border-bottom-left-radius: calc(var(--border-radius) / 2);
}

.navbar .dropdown-menu > li:first-child > .dropdown-item {
    border-top-right-radius: calc(var(--border-radius) / 2);
}

@media only screen and (max-width: 1199px) {
    .navbar .dropdown-menu {
        display: none !important;
    }

    .navbar .main-nav.dropdown-toggle {
        display: none !important;
    }

    .navbar .navbar-nav {
        position: relative !important;
    }

    #navbarNav {
        max-height: calc(100vh - var(--navbar-height));
        overflow-y: auto;
    }

    #separate-contact {
        display: none;
    }

    #inline-contact {
        display: block !important;
    }

    .main-nav {
        padding: 1rem 0;
    }
}

#inline-contact {
    display: none;
}

.navbar .nav-item {
    white-space: nowrap;
    margin: 0 0.2em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar .navbar-brand {
    color: var(--accent-foreground) !important;
    font-size: 1.1em;
    display: flex;
    align-items: center;
}

.navbar .navbar-brand:hover {
    color: var(--accent-hover-foreground) !important;
}

#separate-contact a {
    color: var(--accent-foreground);
}

#separate-contact:hover a {
    color: var(--accent-hover-foreground);
}

.navbar .logo {
    height: calc(0.5 * var(--navbar-height));
    margin-bottom: calc(-0.5 * var(--navbar-height));
    margin-top: calc(-0.5 * var(--navbar-height));
}

:root {
    --navbar-height: 94px;
    --navbar-menu-height: 40px;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 2ch;
}

.dropdown-item:hover {
    color: var(--accent-hover-background);
    background-color: transparent;
}

.navbar-toggler {
    padding-bottom: 2rem;
    padding-top: 2rem;
    border: none !important;
    box-shadow: none !important;
    position: relative;
}

.navbar-toggler input.navbar-toggle {
    inset: 0;
    position: absolute;
    opacity: 0;
}

.navbar {
    transform-style: preserve-3d;
}

.navbar::before {
    content: "";
    position: absolute;
    background: var(--accent-background);
    width: 200vw;
    height: var(--navbar-height);
    transform: translateZ(-10px) translateX(-50%);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

li:has(ul.dropdown-menu li) > a.dropdown-item::after {
    content: "\f285";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-item.dropdown::after {
    content: "\f282";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 1rem 0;
}

@media (max-width: 1199px) {
    .nav-item.dropdown::after {
        padding-left: 2rem;
    }

    .shown-submenu, .hidden-submenu {
        transition: max-height 1s ease;
        overflow: hidden;
        list-style-type: none;
        padding: 0;
        margin: 0;
        order: 3;
        width: 100%;
        padding-left: 2rem;
    }

    .hidden-submenu {
        max-height: 0;
    }

    .shown-submenu {
        max-height: var(--max-height, 600px);
    }

    .shown-submenu > li, .hidden-submenu > li {
        padding: 0.5rem 0;
    }

    .navbar-collapse {
        position: absolute;
        top: var(--navbar-height);
        background: var(--accent-background);
        right: 40px;
        padding-inline: 2em;
        padding-block-end: 2em;
        border-bottom-right-radius: 40px;
        width: max-content;
        max-width: 40ch;
        min-width: 50%;
        transform: translateZ(-20px);
    }

    nav:focus-within .navbar-collapse {
        transition: transform 0.8s ease-in-out;
    }

    .navbar-expand-xl:has(input.navbar-toggle:not(:checked)) .navbar-collapse {
        transform: translateY(calc(-100% - var(--navbar-height))) translateZ(-20px);
    }

    .main-nav.nav-link, .dropdown-item {
        display: flex;
        align-items: center;
        gap: 2ch;
        justify-content: start;
    }
}


.bi-chevron-down {
    font-size: 0.7em;
}

.bi-chevron-right {
    padding-left: 1rem;
}

.nav-link {
    color: var(--accent-foreground);
}

.main-nav.nav-link {
    appearance: auto;
}

.offcanvas-nav a.main-nav.nav-link {
    width: 100%;
}

.offcanvas-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.tree-toggle {
    width: 1em;
    appearance: none;
    padding-inline-end: 2em;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.tree-toggle:hover {
    transform: scale(1.1);
}

.tree-toggle::before {
    content: ">";
    display: inline-block;
    transition: transform 0.3s;
    padding-block: 1em;
}

.tree-toggle:checked::before {
    transform: rotate(90deg);
}

.tree-toggle ~ ul {
    transform-origin: top;
    grid-column: 1 / 3;
    display: none;
}

.tree-toggle:checked ~ ul {
    transform: rotateX(0);
    display: block;
}

.offcanvas-nav li {
    display: grid;
    grid-template-columns: min-content 1fr;
}

.offcanvas-nav ul .tree-toggle::before {
    padding-block: 0;
}

.offcanvas-nav ul .tree-toggle {
    padding-inline-end: 2em;
}

#offcanvasNav .offcanvas-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
    margin: 0;
	background: var(--accent-background);
	/*height: var(--navbar-height);*/
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
    flex-grow: 0;
}

#offcanvasNav .offcanvas-body {
    padding: 0.5rem 2rem;
}

#offcanvasNav .offcanvas-header h5 {
    margin: 0;
}

.offcanvas-nav ul {
    padding-left: 1rem;
}

.offcanvas-nav .dropdown-item {
    padding: 0.5rem 0;
}

.offcanvas-nav li > a.dropdown-item:nth-child(1) {
    padding-inline-start: 2rem;
}

.login-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    gap: 1rem;
}

.offcanvas .login-btns {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.offcanvas .nav-link.btn {
	width: 100%;
}

.login-btns a {
    padding: 0.5rem 1rem;
    --bs-btn-focus-shadow: 0 0 0 0.25rem var(--accent-hover-foreground);
}

.login-btns a.btn-primary {
    background-color: var(--accent-foreground);
    color: var(--accent-background);
    border: 1px solid var(--accent-foreground);
}

.login-btns a.btn-primary:is(:hover, :focus) {
    background-color: var(--accent-hover-foreground);
    color: var(--accent-hover-background);
}

.login-btns a.btn-secondary {
    background-color: var(--accent-background);
    color: var(--accent-foreground);
    border: 1px solid var(--accent-foreground);
}

.login-btns a.btn-secondary:is(:hover, :focus) {
    background-color: var(--accent-hover-background);
    color: var(--accent-hover-foreground);
}

.login-btns a:focus, .login-btns a:focus-visible, .login-btns a:active, .login-btns a:target {
    outline: none;
    box-shadow: 0 0 0 0.25rem var(--accent-hover-background) !important;
}

.dropdown hr {
    margin: 0 10px;
}
