.hello-msg {
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
}

.main-nav {
    font-size: 1.8em;
    height: 55px;
}

@media only screen and (min-width: 1200px) {
    .dropdown > .main-nav:hover {
        height: 70px;
    }
}

.navbar {
    /*box-shadow: 0 2px 10px grey;*/
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    background: white;
    padding-bottom: 0;
    z-index: 9995;
}

.navbar .dropdown-menu li {
    position: relative;
}

.navbar .dropdown-menu .dropdown-submenu {
    position: absolute;
    left: 100%;
    top: 0;
}

.navbar .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    top: 0;
    opacity: 1;
    transform: translateY(0) rotateX(0);
}

.navbar .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
    opacity: 1;
    transform: translateY(0) rotateX(0);
}

.navbar .dropdown-menu {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    /*box-shadow: 3px 3px 8px lightgrey;*/
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.8s;
    top: 55px;
    font-size: 20px;
    line-height: 2;
    min-width: 100%;
    position: relative;
    display: block;
    transform: translateY(0) rotateX(90deg);
    transform-origin: 0 0;
    z-index: -10000;
}

.navbar .dropdown {
    margin-bottom: 0;
}

.navbar .dropdown-item .bi-caret-right-fill {
    margin-left: 30px;
}

.navbar .dropdown-menu > li:last-child > .dropdown-item {
    border-bottom-left-radius: 8px;
}

.navbar .dropdown-menu > li:first-child > .dropdown-item {
    border-top-right-radius: 8px;
}

@media only screen and (max-width: 1199px) {
    .navbar .dropdown-menu {
        display: none !important;
    }

    .navbar .main-nav.dropdown-toggle {
        display: none !important;
    }

    .navbar .main-nav.nav-link {
        width: 100%;
    }

    .navbar .navbar-nav {
        position: relative !important;
    }

    #separate-contact {
        display: none;
    }

    #inline-contact {
        display: block !important;
    }

    ul.navbar-nav {
        margin-top: 30px;
    }
}

.navbar .navbar-nav {
    height: 100%;
    top: 100%;
    position: absolute;
}

#navbarNav {
    position: relative;
    left: 10px;
    height: 100%;
}

#inline-contact {
    display: none;
}

.navbar .nav-item {
    margin-left: 15px;
    margin-right: 15px;
    white-space: nowrap;
}

.navbar .navbar-brand {
    color: var(--accent-background) !important;
    font-size: xx-large;
}

.navbar .navbar-brand:hover {
    color: var(--accent-hover-background) !important;
}

#separate-contact a {
    color: var(--accent-background);
}

#separate-contact:hover a {
    color: var(--accent-hover-background);
}

.navbar .logo {
    max-height: 80px;
    margin-bottom: -80px;
    margin-top: -80px;
}

:root {
    --navbar-height: 106px;
}