{% extends 'main/main.html' %}
{% load static %}

{% block title %}
    Error 500
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/error_pages.css' %}">
{% endblock %}

{% block content %}
    <div class="whole-height">
        <div class="error-content">
            <h1>
                We made an error!
            </h1>
            <div>
                Whoops! We did something wrong.
            </div>
            <div>
                Either go back, try again or have a look at a different page.
            </div>
            <div>
                <a href="javascript:history.back()" class="btn accent hoverable-accent">Go Back</a>
                <a href="javascript:window.location.href=window.location.href" class="btn accent hoverable-accent">Refresh Page</a>
                <a href="{% url 'front-page' %}" class="btn accent hoverable-accent">Go Home</a>
            </div>
        </div>
    </div>
{% endblock %}